{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{{ userPhoto|raw }}

<div class="column-no-break">
    <h4>{{ __('Personal') }}</h4>

    <ul class='moduleMenu'>
        <li>
            <a class="{{ subpage == 'Overview' ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=Overview">{{ __('Overview') }}</a>
        </li>

        <li>
            <a class="{{ subpage == 'Personal' ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=Personal">{{ __('Personal') }}</a>
        </li>

        <li>
            <a class="{{ subpage == 'Family' ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=Family">{{ __('Family') }}</a>
        </li>

        {% if canViewEmergency %}
            <li>
                <a class="{{ subpage == 'Emergency Contacts' ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=Emergency Contacts">{{ __('Emergency Contacts') }}</a>
            </li>
        {% endif %}
    </ul>

    <h4>{{ __('School') }}</h4>

    <ul class='moduleMenu'>
        <li>
            <a class="{{ subpage == 'Activities' ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=Activities">{{ __('Activities') }}</a>
        </li>

        <li>
            <a class="{{ subpage == 'Facilities' ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=Facilities">{{ __('Facilities') }}</a>
        </li>

        {% if canViewTimetable %}
            <li>
                <a class="{{ subpage == 'Timetable' ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=Timetable">{{ __('Timetable') }}</a>
            </li>
        {% endif %}
    </ul>

    {% if hooks %}
    <h4>{{ __('Modules') }}</h4>

    <ul class='moduleMenu'>
        {% for hook in hooks %}
        <li>
            <a class="{{ currentHook == hook.options.sourceModuleName ? 'font-bold' }} underline" href="{{ absoluteURL }}/index.php?q={{ q }}&gibbonPersonID={{ gibbonPersonID }}&search={{ search }}&allStaff={{ allStaff }}&subpage=&hook={{ hook.options.sourceModuleName }}&gibbonHookID={{ hook.gibbonHookID }}">{{ hook.name ?? hook.options.sourceModuleName }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
