{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% extends "index.twig.html" %}

{% block head %}
    {{ block('meta', 'head.twig.html') }}

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <link rel='stylesheet' type='text/css' href='../resources/assets/css/theme.min.css' />
    <link rel='stylesheet' type='text/css' href='../resources/assets/css/core.min.css' />
    <link rel='stylesheet' type='text/css' href='../themes/Default/css/main.css' />
    <script type="text/javascript" src="../lib/LiveValidation/livevalidation_standalone.compressed.js"></script>
    <script type="text/javascript" src="../lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="../lib/jquery/jquery-migrate.min.js"></script>
    <script type='text/javascript' src='../resources/assets/js/core.js'></script>
    <script type="text/javascript" src="../resources/assets/js/installer.js"></script>
{% endblock head %}

{% block beforePage %}

    {% if step <= 1 %}
    <div class="shadow bg-white rounded max-w-4xl mx-auto pt-4 pb-6 px-8 mb-6">
        <h2>{{ __('Welcome To Gibbon') }}</h2>

        <p style='padding-top: 7px'>
            {{ __('Created by teachers, Gibbon is the school platform which solves real problems faced by educators every day.') }}
            <br/><br/>
            {{ __('Free, open source and flexible, Gibbon can morph to meet the needs of a huge range of schools.') }}
            <br/><br/>
            {{ __('For support, please visit %1$sgibbonedu.org%2$s.')|replace({'%1$s': "<a target='_blank' href='https://gibbonedu.org/support'>", '%2$s': '</a>' })|raw }}
        </p>
    </div>
    {% endif %}

{% endblock beforePage %}
