/uploads/*
/config.php
/config/local/*
!/config/local/index.php
modules/IB PYP
modules/Query Builder
missing.yml
Thumbs.db
themes/*
!themes/Default
!themes/Bootstrap
src/themes/*
!src/themes/Default
!src/themes/Bootstrap
.DS_Store

_notes
