# Core Files
/config.php
/index_custom.php
/index_customSidebar.php

# Uploads Folder
uploads/*
!uploads/.htaccess

# Tests Folder
tests/log/*
tests/config/support/_generated/*

# Template Cache
/resources/templates/cache/*

# Misc System Temp Files
Thumb.db
.DS_Store
*~
nbproject/

# Dev Dependencies
/vendor/twbs

# examples and tests in the vendor folder
/vendor/**/tests
/vendor/**/unitTests
/vendor/**/Examples
/vendor/**/examples
/vendor/**/samples
/vendor/**/docs

# Generated TCPDF font files
/vendor/tecnickcom/tcpdf/fonts

# Var Folder
var/*
!var/.htaccess

# Ignore node_modules folder
node_modules
