/*
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

*/

.calendarTable thead {
    display: none;
}

.calendarTable td {
    padding: 0px !important;
    width: 30px !important;
}

.calendarTable td:first-child {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    background: transparent !important;
    font-weight: bold;
    padding-right: 4px !important;
}

.calendarTable a {
    color: inherit;
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0;
}

.bg-chart0 { background: rgba(153, 102, 255, 1.0) !important; } 
.bg-chart1 { background: rgba(255, 99, 132, 1.0) !important; } 
.bg-chart2 { background: rgba(255, 206, 86, 1.0) !important; } 
.bg-chart3 { background: rgba(54, 162, 235, 1.0) !important; } 
.bg-chart4 { background: rgba(133, 233, 194, 1.0) !important; } 
.bg-chart5 { background: rgba(255, 159, 64, 1.0) !important; } 
.bg-chart6 { background: rgba(237, 85, 88, 1.0) !important; } 
.bg-chart7 { background: rgba(75, 192, 192, 1.0) !important; } 
.bg-chart8 { background: rgba(161, 89, 173, 1.0) !important; } 
.bg-chart9 { background: rgba(29, 109, 163, 1.0) !important; } 

.half-day-am::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 1px;
    background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%, rgba(251, 251, 251,0.7) 50%);
}

.half-day-pm::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1px;
    background: linear-gradient(to right bottom, rgba(251, 251, 251,0.7) 50%, rgba(0,0,0,0) 50%);
}
