/*
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.

*/

/* Odd use-case for Activity Attendance double-scroll container */
/* #attendance table.blank, 
#attendance table.blank > tbody > tr,
#attendance table.blank > tbody > tr > td {
    display: block !important;
} */

.infoTitle {
	font-size: 115%;
	font-weight: bold;
}

#attendance .blank > tbody {
    display: block;
}

#attendance .doublescroll-wrapper {
    border: 1px solid #ccc !important;
    border-radius: 3px;
    background: #fbfbfb !important;
    
}

@media (min-width: 1024px) {
	#attendance .doublescroll-wrapper	{ max-width: 62vw; }
}

/* Print Styles */
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

select[data-validation] option:first-child {
    font-style: italic;
}

.text-base p {
    font-size: 1rem !important;
}

.bg-translucent {
    background-color: #fff4;
}

.bg-translucent-gray {
    background-color: #0001;
}

.hover\:bg-translucent:hover {
    background-color: #fff4;
}

.bg-blur {
    -webkit-backdrop-filter: blur(22px) brightness(160%);
    backdrop-filter: blur(22px) brightness(160%);
}

.hover\:bg-blur:hover {
    background: rgba(0,0,0,0.15);
    -webkit-backdrop-filter: blur(12px) brightness(120%);
    backdrop-filter: blur(12px) brightness(120%);
}

.outline-inset:hover {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.activity-photo-container {
    height: 36vw;
}

.activity-photo-container-lg {
    height: 64vw;
}

@media (min-width: 768px) {
    .activity-photo-container,
    .activity-photo-container-lg {
        height: 25vw;
    }
    
}
