{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Page Foot: Outputs the contents of the HTML <head> tag. This includes
all stylesheets and scripts with a 'head' context.
-->#}

{% block meta %}
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="{{ locale }}"/>
    <meta name="author" content="Ross Parker, International College Hong Kong"/>
    <meta name="robots" content="noindex"/>
    <meta name="Referrer‐Policy" value="no‐referrer | same‐origin"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
{% endblock meta %}


{% block styles %}
    {% for asset in page.stylesheets %}
        {% set assetVersion = asset.version is not empty ? asset.version : version %}
        {% if asset.type == 'inline' %}
            <style type="text/css">{{ asset.src|raw }}</style>
        {% else %}
            <link rel="stylesheet" href="{{ absoluteURL }}/{{ asset.src }}?v={{ assetVersion }}.{{ cacheString }}" type="text/css" media="{{ asset.media }}" />
        {% endif %}
    {% endfor %}
{% endblock styles %}


{% block scripts %}
    {% for asset in page.scriptsHead %}
        {% set assetVersion = asset.version is not empty ? asset.version : version %}
        {% if asset.type == 'inline' %}
            <script type="text/javascript">{{ asset.src|raw }}</script>
        {% else %}
            <script type="text/javascript" src="{{ absoluteURL }}/{{ asset.src }}?v={{ assetVersion }}.{{ cacheString }}"></script>
        {% endif %}
    {% endfor %}

    {% for code in page.extraHead %}
        {{ code|raw }}
    {% endfor %}
{% endblock scripts %}
