{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Main Menu: Displays the top-level categories and active modules.
-->#}

<ul class="list-none flex flex-wrap items-center m-0 px-2 border-t border-b">
    <li class="pl-2 mt-1">
        <a class="block uppercase font-bold text-sm text-gray-800 hover:text-purple-500 no-underline px-2 py-3" href="{{ absoluteURL }}/index.php">{{ __('Home') }}</a>
    </li>

    {% if isLoggedIn %}
        {% for categoryName, items in menuMain  %}
        <li class="sm:relative group mt-1">
            <a class="block uppercase font-bold text-sm text-gray-800 hover:text-purple-500 no-underline px-2 py-3" href="#">{{ __(categoryName) }}</a>

            <ul class="list-none bg-transparent-900 absolute hidden group-hover:block w-full sm:w-48 left-0 m-0 -mt-1 py-1 sm:p-1 z-50">
                {% for item in items %}
                <li class="hover:bg-purple-700">
                    <a class="block text-sm text-white focus:text-purple-200 text-left no-underline px-1 py-2 md:py-1 leading-normal" href="{{ item.url }}">{{ __(item.name, item.textDomain) }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    {% endif %}

    <li class="notificationTray self-end flex-grow">
        <div class="flex flex-row-reverse mb-1">
            {{ include('tray.twig.html') }}
        </div>
    </li>
</ul>


