{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Main Menu: Displays the top-level categories and active modules.
-->#}

{% if statusTray.messageWall %}
    <div id="messageWall" class="relative">
        <a class="inline-block relative mr-4" title="{{ __('Message Wall') }}" href="{{ statusTray.messageWall.url }}">
            {%if statusTray.messageWall.messages %}
                <span class='badge -mr-2 right-0'>{{ statusTray.messageWall.messages }}</span>
            {% endif %}
            <img class="minorLinkIcon {{ statusTray.messageWall.messages ? 'opacity-75' : 'opacity-25' }} align-middle" src="{{ absoluteURL }}/themes/{{ gibbonThemeName }}/img/messageWall.png" alt="{{ __('Message Wall') }}">
        </a>
    </div>
{% endif %}

{% if statusTray.notifications %}
    <div id='notifications'>
            <a class="inline-block relative mr-4" title="{{ __('Notifications') }}" href="{{ statusTray.notifications.url }}">
                <span class="notificationCounter badge -mr-2 right-0 {{ statusTray.notifications.count == 0 ? 'hidden' }}">
                    {{ statusTray.notifications.count > 0 ? statusTray.notifications.count : '' }}
                </span>
                <img class="notificationIcon {{ statusTray.notifications.count ? 'opacity-75' : 'opacity-25' }} align-middle" src="{{ absoluteURL }}/themes/{{ gibbonThemeName }}/img/notifications.png" alt="{{ __('Notifications') }}">
            </a>

        <script type="text/javascript">
            $(document).ready(function() {
                setInterval(function() {
                    refreshNotifications();
                }, {{ statusTray.notifications.interval }});
            });
        </script>
    </div>
{% endif %}

{% if statusTray.alarm %}
    <script>
        $(document).ready(function() {
            refreshNotifications();
        }) ;
    </script>
{% endif %}

<div id="dialog-timeout" title="{{ __('Session Timeout') }}" style="display: none">
    <p>{{ __('Your session is about to expire: you will be logged out shortly.') }}</p>
</div>

<script>
    function refreshNotifications() {
        $.ajax({
            url: "index_notification_ajax.php",
            dataType: "json",
            success: function(data) {
                // Update notification count
                if (data.count > 0) {
                    $("#notifications .notificationCounter").removeClass('hidden').html(data.count);
                    $("#notifications .notificationIcon").removeClass('opacity-25').addClass('opacity-75');
                } else {
                    $("#notifications .notificationCounter").html('').addClass('hidden');
                    $("#notifications .notificationIcon").removeClass('opacity-75').addClass('opacity-25');
                }

                // Handle alarm display / cancel
                if (data.alarm != false) {
                    if ($('#TB_window').is(':visible') == true && $('#TB_window').hasClass('alarm') == false) {
                        $("#TB_window").remove();
                        $("body").append("<div id='TB_window'></div>");
                    }
                    if ($('#TB_window').is(':visible') == false) {
                        var url = '{{ absoluteURL }}/index_notification_ajax_alarm.php?type='+ data.alarm +'&KeepThis=true&TB_iframe=true&width=1000&height=500';
                        tb_show('', url);
                        $('#TB_window').addClass('alarm') ;
                    }
                } else {
                    if ($('#TB_window').is(':visible')==true && $('#TB_window').hasClass('alarm') ) {
                        tb_remove();
                    }
                }

                // Handle session timeout dialog
                $("#dialog-timeout").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    autoOpen: false,
                    buttons: {
                        "{{ __('Stay Connected') }}": function() {
                            const req = new XMLHttpRequest();
                            req.open("POST", "{{ absoluteURL }}/keepAlive.php");
                            req.send();
                            $("#dialog-timeout").dialog("close");
                        },
                        "{{ __('Log Out Now') }} ": function() {
                            window.location = "{{ absoluteURL }}/logout.php?timeout=true";
                        },
                    }
                });

                if (data.timeout == 'force') {
                    window.location = "{{ absoluteURL }}/logout.php?timeout=force";
                } else if (data.timeout == 'expire') {
                    window.location = "{{ absoluteURL }}/logout.php?timeout=true";
                } else if (data.timeout == 'warn') {
                    $("#dialog-timeout").dialog("open");
                } else if (!data.timeout && $("#dialog-timeout").dialog("isOpen")) {
                    $("#dialog-timeout").dialog("close");
                }
            }
        });
    }
</script>
