{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% if table.getTitle %}
    {% block title %}
    <h2>{{ table.getTitle }}</h2>
    {% endblock title %}
{% endif %}

{% if table.getDescription %}
    <p>{{ table.getDescription|raw }}</p>
{% endif %}

{% block table %}

    <header class="relative">
        {% block header %}
    
            {% if table.getHeader %}
            <div class="linkTop mt-0 flex justify-end gap-2 mb-2 h-10 py-px">
                {% for action in table.getHeader %}
                    {{ action.getOutput|raw }}
                {% endfor %}
            </div>
            {% endif %}
            
        {% endblock header %}
    </header>

    <div id="{{ table.getID }}" class="dataTable {{ not preventOverflow ? 'overflow-x-auto overflow-y-visible' : '' }}">

   
    {% if not rows and not isFiltered and dataSet.getResultCount == 0 %}
    <div class="h-32 rounded-sm border bg-gray-100 shadow-inner overflow-hidden">
        {% block blankslate %}
        {{ include('components/blankSlate.twig.html') }}
        {% endblock blankslate %}
    </div>
    {% else %}

    {% block tableInner %}

        <table class="{{ class }} w-full mb-2 relative" cellspacing=0 {% if draggable %}data-draggable="true" hx-post="{{ draggable.url }}" hx-trigger="end" hx-swap="none" hx-include="this" hx-vals="{{ draggable.data is not empty and draggable.data != '[]' ? draggable.data : '' }}"{% endif %}>
            <thead class="sticky top-0 z-20">
            {% for rowIndex, headerRow in headers %}

                <tr class="head text-xs">
                {% for columnIndex, column in columns %}
                    {% set th = headerRow[columnIndex] %}
                    {% if th %}
                    <th {{ th.getAttributeString|raw }} style="width: {{ column.getWidth }}; {{ rowIndex > 0 ? 'top: '~(2.83 * rowIndex)~'rem' }}">
                        {{ th.getOutput|raw }}

                        {% if th.getData('description') %}
                            <br/><small><i>{{ th.getData('description') }}</i></small>
                        {% endif %}
                    </th>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </thead>

            <tbody>
            {% if not rows and isFiltered %}
                <tr class="h-48 bg-gray-100 shadow-inner">
                    <td class="p-0" colspan="{{ columns|length }}">
                    {{ block('blankslate') }}
                    </td>
                </tr>
            {% endif %}

            {% for rowIndex, rowData in rows %}
                {% set row = rowData.row %}

                {{ row.getPrepended|raw }}

                <tr {{ row.getAttributeString|raw }}>

                    {% for columnIndex, column in columns %}
                        {% set cell = rowData.cells[columnIndex] %}
                        
                        <td {{ cell.getAttributeString|raw }} style="width: {{ column.getWidth }};">
                            {{ cell.getPrepended|raw }}

                            {% if column.getID == "actions" %} 
                                {% block actions %}
                                <nav class="relative " x-data="{ open: false }" x-on:keydown.escape.prevent.stop="open = false" @click.outside="open = false">
                                    {% do column.getOutput(rowData.data) %}
                                    {% set actions = column.getActions %}

                                    <div  {{ actions|length > 1 ? 'x-cloak="mobile" :class="{\'block\': open, \'hidden sm:flex\': !open}"' }} class="{{ column.getClass() }} {{ actions|length == 1 ? 'justify-center sm:justify-start' : 'justify-start sm:flex absolute sm:static top-0 right-0 p-4 -mr-1 -mt-5 rounded-lg ring ring-2 ring-inset ring-blue-500 sm:ring-0 shadow sm:shadow-none bg-white sm:bg-transparent sm:m-0 sm:p-0' }} flex  gap-4 sm:gap-2" >
                                        {% for actionName, action in actions %}
                                            {% do action.displayLabel(loop.first) %}
                                            {{ action.getOutput(rowData.data, column.getParams)|raw }}
                                        {% endfor %}
                                    </div>

                                    {% if actions|length > 1 %}
                                    <button type="button" @click="open = true" class="block sm:hidden rounded-md mx-auto my-1 p-1 shadow-sm bg-white border border-gray-400 hover:bg-gray-100 text-gray-600 hover:text-gray-900 font-sans font-bold leading-none" >
                                        {{ icon('basic', 'ellipsis-horizontal', 'pointer-events-none block size-7 sm:size-6' ) }}
                                    </button>
                                    {% endif %}
                                </nav>

                                {% endblock actions %}

                            {% else %}
                                {{ column.getOutput(rowData.data)|raw }}
                            {% endif %}

                            {{ cell.getAppended|raw }}
                        </td>
                    {% endfor %}
                </tr>

                {{ row.getAppended|raw }}
            {% endfor %}
            </tbody>
        </table>
    {% endblock tableInner %}
    {% endif %}

    </div>

    <footer>
    {% block footer %}
    {% endblock footer %}
    </footer>

{% endblock table %}



