{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Rich Text Editor
-->#}

{% set resourceAlphaSort = resourceAlphaSort ? 'true' : 'false' %}

<a name="{{ id }}editor"></a>

<div class="editor-toolbar flex flex-wrap sm:flex-no-wrap justify-between text-xs">

    {% if showMedia %}
    <div id="{{ id }}mediaOuter" class="h-6">
        <div id="{{ id }}mediaInner" class="flex items-center py-1">
            <script type="text/javascript">
            $(document).ready(function(){
                $(".{{ id }}resourceSlider, .{{ id }}resourceAddSlider, .{{ id }}resourceQuickSlider").hide();
                $(".{{ id }}show_hide").unbind('click').click(function(){
                    $(".{{ id }}resourceSlider").slideToggle();
                    $(".{{ id }}resourceAddSlider, .{{ id }}resourceQuickSlider").hide();
                    if (tinyMCE.get('{{ id }}').selection.getRng().startOffset < 1) {
                        tinyMCE.get('{{ id }}').focus();
                    }
                });
                $(".{{ id }}show_hideAdd").unbind('click').click(function(){
                    $(".{{ id }}resourceAddSlider").slideToggle();
                    $(".{{ id }}resourceSlider, .{{ id }}resourceQuickSlider").hide();
                    if (tinyMCE.get('{{ id }}').selection.getRng().startOffset < 1) {
                        tinyMCE.get('{{ id }}').focus();
                    }
                });
                $(".{{ id }}show_hideQuickAdd").unbind('click').click(function(){
                $(".{{ id }}resourceQuickSlider").slideToggle();
                $(".{{ id }}resourceSlider, .{{ id }}resourceAddSlider").hide();
                if (tinyMCE.get('{{ id }}').selection.getRng().startOffset < 1) {
                    tinyMCE.get('{{ id }}').focus();
                }
                });
            });
            </script>

            <div class="mr-2 flex items-center">
                <span>{{ __('Shared Resources') }}:</span> 
        
                <a title="{{ __('Insert Existing Resource') }}" class="{{ id }}show_hide mx-1" onclick='$(".{{ id }}resourceSlider").load("{{ absoluteURL }}/modules/Planner/resources_insert_ajax.php?alpha={{ resourceAlphaSort }}&{{ initialFilter }}","id={{ id }}&allowUpload={{ allowUpload }}");'>
                    {{ icon('solid', 'search', 'size-5 text-gray-600') }}
                </a>
            
                {% if allowUpload %}
                <a title="{{ __('Create & Insert New Resource') }}" class="{{ id }}show_hideAdd mx-1" onclick='$(".{{ id }}resourceAddSlider").load("{{ absoluteURL }}/modules/Planner/resources_add_ajax.php?alpha={{ resourceAlphaSort }}&{{ initialFilter }}","id={{ id }}&allowUpload={{ allowUpload }}");'>
                    {{ icon('solid', 'zoom', 'size-5 text-gray-600') }}
                </a>
                {% endif %}
            </div>
            
            {% if allowUpload %}
            <div class="mr-2 flex items-center">
                <span>{{ __('Quick File Upload') }}:</span> 

                <a title="{{ __('Quick Add') }}" class="{{ id }}show_hideQuickAdd mx-1" onclick='$(".{{ id }}resourceQuickSlider").load("{{ absoluteURL }}/modules/Planner/resources_addQuick_ajax.php?alpha={{ resourceAlphaSort }}&{{ initialFilter }}","id={{ id }}&allowUpload={{ allowUpload }}");'>
                    {{ icon('solid', 'add', 'size-5 text-gray-600') }}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="editor-tabs flex flex-grow justify-end items-end">
        <a id="{{ id }}edButtonPreview" class="active hide-if-no-js block cursor-pointer bg-gray-100 text-gray-500 border border-b-0 rounded-t px-4 pt-2 pb-1 mx-1 font-bold z-10">
            {{ __('Visual') }}
        </a>
        <a id="{{ id }}edButtonHTML" class="hide-if-no-js block cursor-pointer bg-gray-100 text-gray-500 border border-b-0 rounded-t px-4 pt-2 pb-1 mx-1 font-bold z-10">
            HTML
        </a>
    </div>
</div>


{% if showMedia %}
    {## Define: Insert Existing Resource ##}
    <div class="{{ id }}resourceSlider hidden w-full">
        <div class="w-full text-center h-20 p-6">
            <img src="{{ absoluteURL  }}/themes/Default/img/loading.gif" alt="{{ __('Loading') }}" onclick="return false;" /><br/>
            {{ __('Loading') }}
        </div>
    </div>
{% endif %}

{% if showMedia and allowUpload %}
    {## Define: Quick File Upload ##}
    <div class="{{ id }}resourceQuickSlider hidden w-full">
        <div class="w-full text-center h-20 p-6">
            <img src="{{ absoluteURL  }}/themes/Default/img/loading.gif" alt="{{ __('Loading') }}" onclick="return false;" /><br/>
            {{ __('Loading') }}
        </div>
    </div>

    {## Define: Create & Insert New Resource ##}
    <div class="{{ id }}resourceAddSlider hidden w-full">
        <div class="w-full text-center h-20 p-6">
            <img src="{{ absoluteURL  }}/themes/Default/img/loading.gif" alt="{{ __('Loading') }}" onclick="return false;" /><br/>
            {{ __('Loading') }}
        </div>
    </div>
{% endif %}


<div id="editorcontainer" class="relative">
    <textarea class="tinymce w-full ml-0 float-none focus:shadow-none focus:border-gray-500" name="{{ name }}" id="{{ id }}" rows="{{ rows }}" style="height: {{ rows * 18 }}px;" {% if required %} x-validate.required data-error-msg="{{__('This field is required') }}" {% endif %} {{ tinymceInit ? 'data-tinymceinit="true"'}} {{ onKeyDownSubmitUrl ? 'data-autosave="'~onKeyDownSubmitUrl~'"' }} >
        {{- value -}}
    </textarea>
</div>

<script type="text/javascript">

$(document).ready(function(){
    try {
        tinymce.remove('#{{ id }}');
    } catch (e) {}

    // Initialize tinymce
    tinymce.init({
        selector: "#{{ id }}",
        width: '100%',
        menubar : false,
        resize: true,
        toolbar_mode: 'sliding',
        toolbar: 'bold italic underline  forecolor backcolor |  alignleft aligncenter alignright alignjustify | bullist numlist indent outdent | link unlink hr charmap | fullscreen | styleselect fontselect fontsizeselect | table | subscript superscript | cut copy paste undo redo ',
        plugins: 'table lists paste link hr charmap fullscreen',
        statusbar: true,
        contextmenu: false,
        branding: false,
        valid_elements: Gibbon.config.tinymce.valid_elements,
        extended_valid_elements : Gibbon.config.tinymce.extended_valid_elements,
        invalid_elements: '',
        apply_source_formatting : true,
        browser_spellcheck: true,
        convert_urls: false,
        relative_urls: false,
        default_link_target: "_blank",
        color_map: [
            "#BFEDD2", "Light Green", 
            "#FBEEB8", "Light Yellow", 
            "#F8CAC6", "Light Red", 
            "#ECCAFA", "Light Purple", 
            "#C2E0F4", "Light Blue", 
            "#2DC26B", "Green", 
            "#F1C40F", "Yellow", 
            "#FF0000", "Red", 
            "#B96AD9", "Purple", 
            "#3598DB", "Blue", 
            "#169179", "Dark Turquoise", 
            "#E67E23", "Orange", 
            "#BA372A", "Dark Red", 
            "#843FA1", "Dark Purple", 
            "#236FA1", "Dark Blue", 
            "#ECF0F1", "Light Gray", 
            "#CED4D9", "Medium Gray", 
            "#95A5A6", "Gray", 
            "#7E8C8D", "Dark Gray", 
            "#34495E", "Navy Blue", 
            "#000000", "Black", 
            "#ffffff", "White", 
        ],
        setup: (editor) => {
            editor.on('submit', (e) => {
                if (editor.editMode == 'html') editor.setContent(document.getElementById(editor.id).value);
            });
        },
        init_instance_callback: (editor) => {
            // Enable quick save from within tinymce
            editor.addShortcut("meta+s", "Custom Ctrl+S", function (e) {
                editor.formElement.dispatchEvent(new Event('quicksave'));
            });
            // Enable validation checking
            editor.on('blur', (e) => {
                tinymce.triggerSave();
                e.target.targetElm.dispatchEvent(new Event('blur'));
            });

            // Add events for toggling Visual and HTML tabs
            var previewButton = document.getElementById(editor.id + 'edButtonPreview');
            var htmlButton = document.getElementById(editor.id + 'edButtonHTML');
            var resourceSliders = document.getElementsByClassName(editor.id + 'resourceSlider');
            var mediaInner = document.getElementById(editor.id + 'mediaInner');
            editor.editMode = 'visual';

            previewButton.classList.add('active');

            htmlButton.addEventListener('click', function (event) {
                editor.editMode = 'html';
                editor.hide();
                htmlButton.classList.add('active');
                previewButton.classList.remove('active');
                mediaInner?.classList.add('hidden');
                Array.from(resourceSliders)?.forEach((element) => element.classList.add('hidden'));
            });

            previewButton.addEventListener('click', function (event) {
                editor.editMode = 'visual';
                editor.show();
                htmlButton.classList.remove('active');
                previewButton.classList.add('active');
                mediaInner?.classList.remove('hidden');
                Array.from(resourceSliders)?.forEach((element) => element.classList.remove('hidden'));
            });

            if (editor.targetElm.hasAttribute('data-autosave')) {
                setTimeout(function () {
                    editor.on('keydown', function () {
                        tinymce.triggerSave();
                        gibbonFormSubmitQuiet(document.getElementById(editor.formElement.id), editor.targetElm.getAttribute('data-autosave'))
                    })
                }, 100);
            }
        }
    });

});

</script>
