{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% if form.getAction != 'ajax' %}
<form {{ form.getAttributeString|raw }} onsubmit="gibbonFormSubmitted(this)">
{% endif %}

    {% if form.hasPages %}
        <ul class="multiPartForm my-6">
            {% for page in form.getPages %}
            <li class="step {{ page.number <= form.getCurrentPage ? 'active' : '' }}">
                {% if page.url and page.number <= form.getMaxPage and page.number != form.getCurrentPage %}
                    <a href="{{ page.url }}" class="-mt-10 pt-10 text-gray-800 hover:text-purple-600 hover:underline">
                {% endif %}
                {{- page.name -}}
                {% if page.url and page.number <= form.getMaxPage and page.number != form.getCurrentPage %}
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.getTitle and not form.getHeader %}
        <h2>{{ form.getTitle }}</h2>
    {% endif %}

    {% if form.getDescription %}
        <p>{{ form.getDescription|raw }}</p>
    {% endif %}

    {% if introduction %}
        <p>{{ introduction|raw }}</p>
    {% endif %}

    {% block header %}
        <header class="relative flex justify-between">
            {% if form.getHeader %}
                <h2>{{ form.getTitle }}</h2>
                <div class="linkTop">
                    {% for action in form.getHeader %}
                        {{ action.getOutput|raw }}
                    {% endfor %}
                </div>
            {% endif %}
        </header>
    {% endblock header %}

    {% for values in form.getHiddenValues %}
        <input type="hidden" name="{{ values.name }}" value="{{ values.value }}">
    {% endfor %}

    {% set renderStyle = "standardForm" in form.getClass or "noIntBorder" in form.getClass and "blank" not in form.getClass ? 'flex' : 'table' %}

    {% if form.getRows|length > 0 %}
        <div class="{{ form.getClass }} font-sans text-xs text-gray-700 relative {{ "blank" not in form.getClass ? 'bg-gray-100 rounded border mt-3' }}" style="{{ "noIntBorder" in form.getClass ? 'background:#edf7ff' }}" cellspacing="0">

        {% for section, rows in form.getRowsByHeading %}
            {% set sectionLoop = loop %}

            {% for num, row in rows %}

                {% set rowLoop = loop %}
                {% if true or renderStyle == 'flex' %}
                    {% set rowClass = 'flex flex-col sm:flex-row justify-between sm:items-center content-center p-0' %}
                {% endif %}

                {% set firstElement = (row.getElements|first) %}
                {% if firstElement.isInstanceOf('Gibbon\\Forms\\Layout\\Heading') and firstElement.getTag == 'h3' %}
                    {% set rowClass = "blank" not in form.getClass ? rowClass ~ ' bg-gray-300' : rowClass ~ ' my-2' %}
                {% endif %}


                <div id="{{ row.getID }}" class="formRow {{ row.getClass|replace({'standardWidth': ''}) }} {{ rowClass }}" {{ row.getAttributeString("data-drag-id")|raw }}>

                {% if "draggableRow" in row.getClass %}
                    <div class="drag-handle w-2 h-6 ml-2 px-px border-4 border-dotted cursor-move"></div>
                {% endif %}
        
                {% for element in row.getElements %}
                    {% set colspan = loop.last and loop.length < totalColumns ? (totalColumns + 1 - loop.length) : 0  %}

                    {% if element.isInstanceOf('Gibbon\\Forms\\Layout\\Heading') %}
                        {% set class = 'flex-grow justify-center' %}
                    {% elseif element.isInstanceOf('Gibbon\\Forms\\Layout\\Label') %}
                        {% set class = 'flex flex-col flex-grow justify-center -mb-1 sm:mb-0' %}
                    {% elseif element.isInstanceOf('Gibbon\\Forms\\Layout\\Column')  %}
                        {% set class = loop.last and loop.length == 2 ? 'w-full max-w-full sm:max-w-sm flex justify-end' : 'w-full ' %}
                    {% elseif loop.last and loop.length == 2 and renderStyle == 'flex' %}
                        {% set class = 'w-full max-w-full sm:max-w-sm flex justify-end items-center' %}
                    {% else %}
                        {% set class = loop.last and loop.length > 2 ? '' : 'flex-1' %}
                    {% endif %}

                    {% if renderStyle == 'table' and element.isInstanceOf('Gibbon\\Forms\\Layout\\Label') %}
                        {% set class = class ~ " lg:w-2/5" %}
                    {% endif %}

                    {% if "standardForm" in form.getClass %}
                        {% set class = class ~ " px-4 py-4" %}
                    {% elseif "blank" not in form.getClass %}
                    {% set class = class ~ " px-3 py-2" %}
                    {% endif %}

                    {% set hasClass = element.instanceOf('Gibbon\\Forms\\Layout\\Element') or element.instanceOf('Gibbon\\Forms\\Layout\\Row') %}
                    <div class="{{ class }} {{ hasClass ? element.getClass|replace({'standardWidth': ''}) : '' }}" {{ colspan ? 'colspan="%s"'|format(colspan)|raw }}>
                        {{ element.getOutput|replace({'standardWidth': renderStyle == 'flex' ? 'w-full' : '' })|raw }}

                        {% if element.instanceOf('Gibbon\\Forms\\ValidatableInterface') %}
                        <script type="text/javascript">
                            {{ element.getValidationOutput|raw }}
                        </script>
                        {% endif %}
                    </div>
                {% endfor %}

                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    {% if postScript %}
        <p>{{ postScript|raw }}</p>
    {% endif %}

    <script type="text/javascript">
        {% for code in javascript %}
            {{ code|raw }}
        {% endfor %}
    </script>

{% if form.getAction %}
</form>
{% endif %}
