{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

<section class="lg:flex items-stretch">
    <div class="flex-1 pr-6">

        {{ fields.getOutput|raw }}

        {% if fieldCount <= 0 %}
        <div class="h-48 rounded-sm border bg-gray-100 shadow-inner overflow-hidden">
            {% block blankslate %}
            {% include 'components/blankSlate.twig.html' with {blankSlate: __('This page is empty. Add fields to your form using the sidebar.')} %}
            {% endblock blankslate %}
        </div>
        {% endif %}
    </div>

    <div id="sections" class="w-full lg:w-sidebar lg:max-w-xs h-full">
        <h3>
            {{ __('Add Fields') }} <span class="text-xxs font-normal"></span>
        </h3>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_edit_field_add.php&fieldGroup=AllFields&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=700" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/align-justify.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('Application Fields') }}</div>
        </a>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_edit_field_add.php&fieldGroup=GenericFields&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=500" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/grip-lines.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('Generic Fields') }}</div>
        </a>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_edit_field_add.php&fieldGroup=CustomFields&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=500" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/grip-lines.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('Custom Fields') }}</div>
        </a>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_edit_field_add.php&fieldGroup=PersonalDocuments&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=500" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/address-card.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('Personal Documents') }}</div>
        </a>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_edit_field_add.php&fieldGroup=RequiredDocuments&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=500" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/file-alt.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('Required Documents') }}</div>
        </a>

        <h3>
            {{ __('Layout') }} <span class="text-xxs font-normal"></span>
        </h3>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_edit_field_add.php&fieldGroup=LayoutHeadings&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=500" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/heading.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('Heading') }}</div>
        </a>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_edit_field_add.php&fieldGroup=LayoutText&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=500" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/edit.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('Text') }}</div>
        </a>

        <a href="{{ absoluteURL }}/fullscreen.php?q=/modules/System Admin/formBuilder_page_add.php&redirect=design&gibbonFormID={{ gibbonFormID }}&gibbonFormPageID={{ gibbonFormPageID }}&width=900&height=700" class="thickbox w-full p-4 mb-2 flex items-center justify-start group cursor-pointer p-2 mr-2 mb-2 bg-gray-100 border rounded hover:border-gray-500 hover:bg-gray-300">
            <img class="w-6 h-6 mr-4 opacity-50 pointer-events-none" src="{{ absoluteURL }}/modules/Reports/img/icons/file.svg">
            <div class="text-center text-gray-700 text-sm leading-tight pointer-events-none">{{ __('New Page') }}</div>
        </a>
        
    </div>
</section>

<style>
    #formFields .formRow[style*="display: none"] {
        display: flex !important;
        background-image: linear-gradient(45deg, #fafafa 25%, #f4f4f4 25%, #f4f4f4 50%, #fafafa 50%, #fafafa 75%, #f4f4f4 75%, #f4f4f4 100%);
        background-size: 23.0px 23.0px;
    }
</style>

<script>
    $('#formFields .standardForm').sortable({
        placeholder: "drag-placeholder bg-gray-400 shadow-inner",
        handle: ".drag-handle",
        start: function(event, ui) {
            console.log('sort start');
            $(ui.item).addClass('bg-gray-100').addClass('border');
            $(ui.placeholder).outerHeight($(ui.item).outerHeight());
        },
        update: function(event, ui) {
            $(ui.item).removeClass('bg-gray-100').removeClass('border');
            var elementOrder = new Array();
            $('.draggableRow', this).each(function() {
                elementOrder.push($(this).data('drag-id'));
            });

            var container = $(this).parent();
            $.ajax({
                url: $(container).data('drag-url'),
                data: {
                    data: $(container).data('drag-data'),
                    order: JSON.stringify(elementOrder)
                },
                type: 'POST',
                success: function(data) {
                    console.log('success '+data);
                }
            });
        },
        stop: function(event, ui) {
            $(ui.item).removeClass('bg-gray-100').removeClass('border');
        },
    });

</script>
