{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% extends "components/paginatedTable.twig.html" %}

{% block table %}
    
<div id="{{ table.getID }}">
    <div class="dataTable" data-results="{{ dataSet.getResultCount }}">
        
    {% if not hidePagination %}
    {{ block("header") }}
    {% endif %}
                    
    {% if dataSet.getResultCount == 0 %}
        <div class="h-24 rounded-sm border bg-gray-100 shadow-inner overflow-hidden">
        {{ block('blankslate') }}
        </div>
    {% else %}

        <div class="flex flex-wrap {{ table.getMetaData('gridClass')|default('py-2') }}">
            <div class="w-full">
                {{ gridHeader|raw }}
            </div>

            {% for rowIndex, rowData in rows %}
                {{ rowData.row.getPrepended|raw }}

                <div class="flex-col {{ table.getMetaData('gridItemClass')|default('w-1/2 sm:w-1/3 text-center') }} {{ rowData.row.getClass|replace({'odd': '', 'even': ''}) }}">
                {% for columnIndex, column in columns %}
                    
                    {% set cell = rowData.cells[columnIndex] %}

                    <div class="{{ column.getClass }}">
                        {% if column.getID == "actions" %} 
                            {{ block('actions') }}
                        {% else %}
                            {{ column.getOutput(rowData.data)|raw }}
                        {% endif %}
                    </div>

                {% endfor %}
                </div>

                {{ rowData.row.getAppended|raw }}

            {% endfor %}

            <div class="w-full">
                {{ gridFooter|raw }}
            </div>
        </div>
    {% endif %}

    {{ block("footer") }}
        
    </div>
</div>

{% if path and identifier %}
<script>
$(function(){
    $('#{{ table.getID }}').gibbonDataTable( '{{ path|raw }}', {{ jsonData|raw }}, '{{ identifier }}');
});
</script>
{% endif %}

{% endblock table %}
