{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% extends "components/dataTable.twig.html" %}

{% block table %}
    <div class="relative">
        <div id="{{ table.getID }}">
            <div class="dataTable" data-results="{{ dataSet.getResultCount }}">
                {{ parent() }}
            </div>
        </div>

        {{ block('bulkActions') }}
    </div>

    <script>
    $(function(){
        $('#{{ table.getID }}').gibbonDataTable( '{{ path|raw }}', {{ jsonData|raw }}, '{{ identifier }}');
    });
    </script>
{% endblock table %}


{% block header %}
    <div class="flex items-end justify-between" style="min-height:50px;">
        <div class="flex items-end pb-2 {{ dataSet.getTotalCount > 0 ? 'h-10' : '' }}">
            {{ block('pageCount') }}
        </div>

        {{ parent() }}
    </div>

    {% if dataSet.getTotalCount > 0 and not hidePagination %}
    <div class="flex flex-wrap sm:flex-no-wrap items-stretch justify-between">
        <div class="flex items-stretch h-full">
            {% if pageSize and dataSet.getResultCount > 20 %}
            <div class="relative inline-flex -mr-1 mb-2">
                <div class="absolute caret z-10 mt-3 right-0 mr-5 pointer-events-none"></div>
                {{ pageSize|raw }}
            </div>
            {% endif %}

            {% if filterOptions %}
            <div class="relative inline-flex mb-2">
                <div class="absolute caret z-10 mt-3 right-0 mr-5 pointer-events-none"></div>
                {{ filterOptions|raw }}
            </div>
            {% endif %}
            
            {% if filterCriteria and filterOptions %}
            <nav class="inline-flex cursor-default mb-2">
                {{ block('filters') }}
            </nav>
            {% endif %}
        </div>

        {% if listOptions %}
            {{ include('components/listOptions.twig.html') }}
        {% endif %}

        {{ block('pagination') }}
    </div>
    {% endif %}
{% endblock header %}


{% block footer %}
    {% if dataSet.getResultCount > dataSet.getPageSize %}
    <div class="flex items-start justify-between">

        <div class="flex items-start mt-2 {{ dataSet.getTotalCount > 0 ? 'h-10' : '' }}">
            {{ block('pageCount') }}
        </div>

        <div class="flex flex-col sm:flex-row sm:items-end justify-end mt-2">
            {{ block('pagination') }}
        </div>
    </div>
    {% endif %}
    
{% endblock footer %}


{% block filters %}
    {% for name, label in filterCriteria %}
        <button type="button" class="filter inline-flex items-center -mx-px py-2 px-3 text-xxs border-0 ring-1 ring-inset ring-blue-700 bg-blue-500 hover:bg-blue-600 z-10 text-white font-semibold" data-filter="{{ name }}">
            {{ label|raw }}
        </button>
    {% endfor %}
    
    <button type="button" class="filter inline-flex items-center px-1.5 rounded-r-md text-xxs bg-white border-0 ring-1 ring-inset ring-gray-400 text-gray-600 hover:bg-gray-200 font-semibold clear">
        <span class="sr-only">
            {{ __('Clear') }}
        </span>
        {{ icon('basic', 'x-mark', 'size-5' ) }}
    </button>

{% endblock filters %}


{% block pageCount %}
    {% if dataSet.getTotalCount > 0 %}
    <div class="text-xs text-gray-700">
        {{ searchText ? __('Search') ~ " " }}

        {{ dataSet.isSubset ? __('Results') : __('Records') }}

        {% if dataSet.count > 0 %}
            <span class="font-medium">{{ dataSet.getPageFrom }}</span>
            {{ __('to') }}
            <span class="font-medium">{{ dataSet.getPageTo }}</span> {{ __('of') }}
        {% endif %} 
        
        <span class="font-medium">{{ dataSet.getResultCount|number_format }}</span>
    </div>
    {% endif %}
{% endblock pageCount %}


{% block pagination %}
    
    {% set buttonStyle = ' relative inline-flex items-center text-sm sm:text-xs font-semibold ring-1 focus:outline-offset-0' %}
    
    {% if dataSet.getResultCount > dataSet.getPageSize or filterOptions %}
    <nav class="pagination isolate mb-2 inline-flex rounded-md" aria-label="Pagination">
        <button type="button" class="paginate px-1.5 rounded-l-md bg-white text-gray-600 ring-gray-400  {{ not dataSet.isFirstPage ? 'cursor-pointer hover:bg-gray-200'}} {{ buttonStyle }}" data-page="{{ dataSet.getPrevPageNumber }}" {{ dataSet.isFirstPage ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Prev') }}
            </span>
            {{ icon('basic', 'chevron-left', 'size-5' ) }}
        </button>

        {%- for page in dataSet.getPaginatedRange -%}
            {%- if page == '...' -%}
                <button type="button" class="{{ buttonStyle }} hidden bg-white text-gray-600 sm:inline-flex px-4 sm:px-3 py-2 ring-gray-400" disabled>...</button>
            {%- else -%}
                <button type="button" class="paginate {{ buttonStyle }} px-4 sm:px-3 py-2 {{ page == dataSet.getPage ? 'z-20 bg-blue-500 hover:bg-blue-600 ring-blue-700 text-white relative' : 'z-10 hidden sm:inline-flex bg-white text-gray-600 cursor-pointer hover:bg-gray-200 ring-gray-400' }}" data-page="{{ page }}" {{ page == dataSet.getPage ? 'aria-current="page"' }}>{{ page }}</button>
            {%- endif -%}
        {%- endfor -%}

        <button type="button" class="paginate px-1.5 rounded-r-md bg-white text-gray-600 ring-gray-400  {{ not dataSet.isLastPage ? 'cursor-pointer hover:bg-gray-200'}} {{ buttonStyle }}" data-page="{{ dataSet.getNextPageNumber }}" {{ dataSet.isLastPage ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Next') }}
            </span>
            {{ icon('basic', 'chevron-right', 'size-5' ) }}
        </button>
    </nav>
    {% endif %}
    
{% endblock pagination %}


{% block bulkActions %}
    {% if bulkActions %}
    <div class="bulkActionPanel hidden absolute top-0 right-0 w-full flex items-center justify-between p-1 pt-2 bg-{{ themeColour }}-600 rounded-t-md z-20">
        <div class="bulkActionCount flex-grow text-white text-sm text-right pr-3">
            <span>0</span> {{ __('Selected') }}
        </div>
        
        {{ bulkActions.getOutput|raw }}

        <script>
            {{ bulkActions.getValidationOutput|raw }}
        </script>
    </div>
    {% endif %}
{% endblock bulkActions %}

