<h1>
{{ activity.name }}<br/>
{% if options %}
    <div style='padding-top: 5px; font-size: 65%; font-style: italic'>
    {{ activity.type|trim }}
    </div>
{% endif %}
</h1>

<table class='blank' cellspacing='0' style='width: 550px; float: left;'>
<tr>
if ($dateType != 'Date') {
    <td style='width: 33%; vertical-align: top'>
    <span style='font-size: 115%; font-weight: bold'>{{ __('Terms') }}</span><br/>
    {{ termList }}
      </td>
  } else {
      <td style='width: 33%; vertical-align: top'>
      <span style='font-size: 115%; font-weight: bold'>".__('Start Date').'</span><br/>
      dateConvertBack($guid, $row['programStart'])
      </td>
      <td style='width: 33%; vertical-align: top'>"
      <span style='font-size: 115%; font-weight: bold'>".__('End Date').'</span><br/>
      dateConvertBack($guid, $row['programEnd'])
      </td>
  }
  <td style='width: 33%; vertical-align: top'>
  <span style='font-size: 115%; font-weight: bold'>".__('Year Groups').'</span><br/>
  getYearGroupsFromIDList($guid, $connection2, $row['gibbonYearGroupIDList'])
  </td>
  </tr>
  <tr>
  <td style='padding-top: 15px; width: 33%; vertical-align: top'>
  if ($hideExternalProviderCost == 'Y' and $row['provider'] == 'External') {
      <span style='font-size: 115%; font-weight: bold'>".__('Cost').'</span><br/>
      <i>__('See Description below.')</i>
  } else {
      if ($row['paymentFirmness'] == 'Finalised') {
          <span style='font-size: 115%; font-weight: bold'>sprintf(__('Cost (%1$s)'), __($row['paymentType']))</span><br/>
      }
      else {
          <span style='font-size: 115%; font-weight: bold'>.sprintf(__('%1$s Cost (%2$s)'), __($row['paymentFirmness']), __($row['paymentType'])).</span><br/>
      }
      if ($row['payment'] == 0) {
          <i>'.__('None').'</i>
      } else {
          if (substr($_SESSION[$guid]['currency'], 4) != '') {
              substr($_SESSION[$guid]['currency'], 4)
          }
          $row['payment']
      }
  }
  </td>
  <td style='padding-top: 15px; width: 33%; vertical-align: top'>
  <span style='font-size: 115%; font-weight: bold'>".__('Maximum Participants').'</span><br/>
  $row['maxParticipants']
  </td>'
  <td style='padding-top: 15px; width: 33%; vertical-align: top'>
  <span style='font-size: 115%; font-weight: bold'>".__('Staff').'</span><br/>

      $dataStaff = array('gibbonActivityID' => $row['gibbonActivityID'])
      $sqlStaff = "SELECT title, preferredName, surname, role FROM gibbonActivityStaff JOIN gibbonPerson ON (gibbonActivityStaff.gibbonPersonID=gibbonPerson.gibbonPersonID) WHERE gibbonActivityID=:gibbonActivityID AND gibbonPerson.status='Full' ORDER BY surname, preferredName"
      $resultStaff = $connection2->prepare($sqlStaff)
      $resultStaff->execute($dataStaff)

  if ($resultStaff->rowCount() < 1) {
      <i>__('None')</i>
  } else {
      <ul style='margin-left: 15px'>
      while ($rowStaff = $resultStaff->fetch()) {
          echo <li>Format::name($rowStaff['title'], $rowStaff['preferredName'], $rowStaff['surname'], 'Staff')</li>
      }
      </ul>
  }
  </td>
  </tr>
  <tr>
  <td style='padding-top: 15px; width: 33%; vertical-align: top' colspan=3>
  <span style='font-size: 115%; font-weight: bold'>".__('Provider').'</span><br/>
  <i>
  if ($row['provider'] == 'School') {
      $_SESSION[$guid]['organisationNameShort']
  } else {
      __('External')
  };
  </i>
  </td>
  </tr>
  if ($row['description'] != '') {
      <tr>
      <td style='text-align: justify; padding-top: 15px; width: 33%; vertical-align: top' colspan=3>
      <h2>__('Description')</h2>
      $row['description']
      </td>
      </tr>
  }
  </table>

  //Slots & Participants
  <div style='width:400px; float: right; font-size: 115%; padding-top: 6px'>
  <h3 style='padding-top: 0px; margin-top: 5px'>__('Time Slots')</h3>

      $dataSlots = array('gibbonActivityID' => $row['gibbonActivityID'])
      $sqlSlots = 'SELECT gibbonActivitySlot.*, gibbonDaysOfWeek.name AS day, gibbonSpace.name AS space FROM gibbonActivitySlot JOIN gibbonDaysOfWeek ON (gibbonActivitySlot.gibbonDaysOfWeekID=gibbonDaysOfWeek.gibbonDaysOfWeekID) LEFT JOIN gibbonSpace ON (gibbonActivitySlot.gibbonSpaceID=gibbonSpace.gibbonSpaceID) WHERE gibbonActivityID=:gibbonActivityID ORDER BY sequenceNumber'
      $resultSlots = $connection2->prepare($sqlSlots)
      $resultSlots->execute($dataSlots)

  $count = 0
  while ($rowSlots = $resultSlots->fetch()) {
      <h4>__($rowSlots['day'])</h4>
      <p>
      <i>__('Time')</i>:substr($rowSlots['timeStart'], 0, 5).' - '.substr($rowSlots['timeEnd'], 0, 5)<br/>
      if ($rowSlots['gibbonSpaceID'] != '') {
          <i>__('Location')</i>: $rowSlots['space']
      } else {
          <i>__('Location')</i>: $rowSlots['locationExternal']
      }
      echo </p>

      ++$count;
  }
  if ($count == 0) {
      <i>__('None')</i>
  }

  $role = getRoleCategory($_SESSION[$guid]['gibbonRoleIDCurrent'], $connection2);
  if ($role == 'Staff') {
      <h3>__('Participants')</h3>


          $dataStudents = array('gibbonActivityID' => $row['gibbonActivityID']);
          $sqlStudents = "SELECT title, preferredName, surname FROM gibbonActivityStudent JOIN gibbonPerson ON (gibbonActivityStudent.gibbonPersonID=gibbonPerson.gibbonPersonID) WHERE gibbonActivityID=:gibbonActivityID AND gibbonPerson.status='Full' AND (dateStart IS NULL OR dateStart<='".date('Y-m-d')."') AND (dateEnd IS NULL  OR dateEnd>='".date('Y-m-d')."') AND gibbonActivityStudent.status='Accepted' ORDER BY surname, preferredName";
          $resultStudents = $connection2->prepare($sqlStudents);
          $resultStudents->execute($dataStudents);

      if ($resultStudents->rowCount() < 1) {
          <i>__('None')</i>
      } else {
          <ul style='margin-left: 15px'>
          while ($rowStudent = $resultStudents->fetch()) {
              <li>Format::name('', $rowStudent['preferredName'], $rowStudent['surname'], 'Student')</li>
          }
          echo </ul>
      }


          $dataStudents = array('gibbonActivityID' => $row['gibbonActivityID']);
          $sqlStudents = "SELECT title, preferredName, surname FROM gibbonActivityStudent JOIN gibbonPerson ON (gibbonActivityStudent.gibbonPersonID=gibbonPerson.gibbonPersonID) WHERE gibbonActivityID=:gibbonActivityID AND gibbonPerson.status='Full' AND (dateStart IS NULL OR dateStart<='".date('Y-m-d')."') AND (dateEnd IS NULL  OR dateEnd>='".date('Y-m-d')."') AND gibbonActivityStudent.status='Waiting List' ORDER BY timestamp";
          $resultStudents = $connection2->prepare($sqlStudents);
          $resultStudents->execute($dataStudents);

      if ($resultStudents->rowCount() > 0) {
          <h3>'.__('Waiting List').'</h3>
          <ol style='margin-left: 15px'>
          while ($rowStudent = $resultStudents->fetch()) {
              <li>'.Format::name('', $rowStudent['preferredName'], $rowStudent['surname'], 'Student').'</li>
          }
          </ol>
      }
  }
  echo </div>
