{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}


{% if title %}
<h4>{{ title }}</h4>
{% endif %}

{% for item in discussion %}

<div class="flex justify-between my-4 {{ item.comment is empty and html is empty and message is empty ? 'sm:items-center'}}">

    <div class="{{ compact ? 'w-8 sm:w-12' : 'w-12 sm:w-16' }} mr-4 flex flex-col items-center">
        <div class="{{ item.image_240 ? 'flex-none' : 'flex items-center justify-center' }} overflow-hidden {{ compact ? 'w-8 sm:w-12 h-8 sm:h-12' : 'w-12 sm:w-16 h-12 sm:h-16' }} rounded-full bg-gray-200 border border-solid">
            {% if item.image_240 %}
                <img class="w-full" src="{{ absoluteURL }}/{{ item.image_240 }}" />
            {% else %}
                <img class="w-full" src="{{ absoluteURL }}/themes/{{ gibbonThemeName }}/img/anonymous_240.jpg" />
            {% endif %}
        </div>
    </div>

    <div class="flex-1">

        <div class="relative bg-gray-100 rounded text-gray-800 text-sm leading-snug border ">

            <div class="absolute top-0 left-0 border-transparent" style="margin: 15px 0 0 -18px; border-width: 9px; border-right-color: #d2d0d0;"></div>
            <div class="absolute top-0 left-0 border-8 border-transparent" style="margin: 16px 0 0 -16px; border-width: 8px; border-right-color: #fafafa;"></div>

            <div class="px-4 py-3 text-gray-700 text-sm font-sans leading-relaxed flex flex-col sm:flex-row justify-between">
                <div>
                <span class="inline-block font-semibold">
                    {% if item.url %}<a href="{{ item.url }}" class="text-gray-800 underline">{% endif %}
                    {{ formatUsing('name', item.title, item.preferredName, item.surname, 'Student', false, true) }}
                    {% if item.url %}</a>{% endif %}
                </span>

                {% if item.timestamp %}
                    {{ item.action ? item.action|lower : "&nbsp" }}

                    <span class="whitespace-no-wrap">
                        {{ formatUsing('relativeTime', item.timestamp) }}
                    </span>
                {% endif %}

                {% if item.type %}
                    <span class="sm:mx-2 mt-2 sm:mt-0 tag {{ item.tag ?? 'dull' }}">{{ __(item.type) }}</span>
                {% endif %}
                </div>
                {% if item.attachmentLocation %}
                    <a class="tag block px-0 break-all mt-2 sm:mt-0" href="{{ item.attachmentType == 'Link' ? item.attachmentLocation : absoluteURL ~ "/" ~ item.attachmentLocation }}" target="{{ item.attachmentTarget ? item.attachmentTarget : '_blank' }}">{{ item.attachmentText ? item.attachmentText : __('View Attachment') }}</a>
                {% endif %}

                {% if item.extra %}
                    <div class="">
                        {{ item.extra|raw }}
                    </div>
                {% endif %}
            </div>

            {% if item.comment %}
            <div class="p-4 bg-white border-t rounded-b">
                {{ item.comment|raw }}
            </div>
            {% endif %}
        </div>

        {% if item.replies %}
            <div class="bg-white rounded-b">
                {{ include ('ui/discussion.twig.html', {'discussion': item.replies}) }}
            </div>
        {% endif %}
    </div>
</div>

{% endfor %}

{% if discussion is empty and blankSlate %}
    <div class="h-48 rounded-sm border bg-gray-100 shadow-inner overflow-hidden">
        {% block blankslate %}
        {{ include('components/blankSlate.twig.html') }}
        {% endblock blankslate %}
    </div>
{% endif %}
