{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% if documents %}
    {% if not noTitle %}
    <h4>
        {{ __('Personal Documents') }}
    </h4>
    {% endif %}

    {% for document in documents %}
        {% if document.documentNumber != 'N/A' %}

        {% if document.filePath %}
        <a href="{{ absoluteURL }}/{{ document.filePath }}" target="_blank" class="flex flex-wrap justify-start items-center rounded bg-gray-100 hover:bg-blue-100 border hover:border-blue-500 text-gray-800 hover:text-blue-700 cursor-pointer font-sans my-2 p-4 ">
        {% else %}
        <a class="flex flex-wrap justify-start items-center rounded bg-gray-100 border text-gray-800 font-sans my-2 p-4 ">
        {% endif %}

            <div class="w-full sm:w-2/5 xl:w-1/3 flex mb-4 sm:mb-0 flex items-center">
                {{ include('ui/icons.twig.html', {'icon': document.document|lower }) }}

                <div class="ml-4">
                    <div class="text-sm font-medium">
                        {{ __(document.name) }}
                    </div>
                    {% if document.documentNumber or document.documentName %}
                    <span class="text-xs text-gray-600">
                        {{ document.documentNumber }} {{ document.documentName ? " | " ~ document.documentName }}
                    </span>
                    {% endif %}
                </div>

            </div>

            {% for field in document.fields|jsonDecode %}
                {% if field != 'documentNumber' and field != 'documentName' and field != 'filePath' %}
                <div class="w-1/4 sm:w-1/6 xl:w-1/5 text-gray-700">
                    <div class="text-xs font-medium">
                        {% if field == 'dateIssue' %}
                            {{ __('Issued') }}
                        {% elseif field == 'dateExpiry' %}
                            {{ __('Expiry') }}
                        {% elseif field == 'country' %}
                            {{ __('Country') }}
                        {% elseif field == 'documentType' %}
                            {{ __('Type') }}
                        {% endif %}
                    </div>
                    <span class="text-xs text-gray-600">
                        {% if field == 'dateIssue' or field == 'dateExpiry' %}
                            {{ formatUsing('date', document[field])|default(__('N/A')) }}
                        {% else %}
                            {{ document[field]|default(__('N/A')) }}
                        {% endif %}
                    </span>
                </div>
                {% endif %}
            {% endfor %}
            <div class="flex-grow"></div>

            {% if document.filePath %}
            <div class="text-xs font-medium">
                <img alt="{{ __('Scanned Copy') }}" title="{{ __('View') }} {{ __(document.document) }}" src="{{ absoluteURL }}/themes/{{ gibbonThemeName }}/img/zoom.png" class="ml-1" width="25" height="25">
            </div>
            {% endif %}

        </a>

        {% endif %}
    {% endfor %}
{% endif %}
