{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}
<div
    x-data="{
        tabSelected: {{ selected|default(1) }},
        tabId: $id('tabs'),
        tabButtonClicked(tabButton){
            this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
        },
        tabActive(tab){
            return this.tabSelected == tab.id.replace(this.tabId + '-', '');
        },
        tabContentActive(tabContent){
            return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
        }
    }"
    x-init="tabSelected = {{ selected|default(1) }}" class="relative w-full max-w-full {{ class }}">
    
    <div class="overflow-y-hidden w-full">
        <div x-ref="tabButtons" @keydown.right.prevent="$focus.wrap().next()" @keydown.left.prevent="$focus.wrap().previous()" class="flex flex-wrap justify-start items-end" role="tablist" aria-label="tab options">
            {% for tabID, tab in tabs %}
            <button :id="$id(tabId)" @click="tabButtonClicked($el);" :aria-selected="tabActive($el)" type="button" :class="tabActive($el) ? 'text-gray-900 border border-gray-400 border-b-white z-10 bg-white shadow' : 'text-gray-800 hover:bg-gray-200 border border-transparent hover:border-b-gray-400 bg-transparent'" class="inline-flex flex-col sm:flex-row gap-1.5 items-center px-4 sm:px-5 xl:px-6 py-2 -mr-1 sm:-mr-2 font-normal rounded-t-md  " role="tab" tabindex="tabActive($el) ? '0' : '-1'" aria-selected="true">
                {% if icons and tab.icon %}
                    <span x-cloak x-show="tabActive($el.parentElement)" class="inline-flex">
                    {{ icon('solid', tab.icon, 'inline-block size-5  sm:-ml-1 opacity-50') }}
                    </span>
                    <span x-show="!tabActive($el.parentElement)" class="inline-flex">
                        {{ icon('outline', tab.icon, 'inline-block size-5  sm:-ml-1 opacity-50', {'stroke-width': 1.5 }) }}
                    </span>
                {% endif %}
                <span class="block sm:inline text-xxs sm:text-sm whitespace-nowrap">{{ tab.label }}</span>
            </button>
    
            {% endfor %}
        </div>
    </div>

    <div role="tabpanels" class="h-full pt-4 -mt-px {{ outset ? '-mx-4 sm:-mx-8 px-4 sm:px-8 pb-6 border-t' : 'px-4 border' }} rounded-b bg-white border-gray-400">
        {% for tabID, tab in tabs %}
        <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative"  :aria-labelledby="$id(tabId + '-content')" role="tabpanel">
           {{ tab.content|raw }}
        </div>
        {% endfor %}
    </div>
</div>
