{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}


{% set colors = {
    'gray': {
        'background': 'bg-gray-200',
        'text'      : 'text-gray-700',
        'textHover' : 'hover:text-gray-800',
        'outline'   : 'outline-gray-400',
        'outlineHover': 'hover:outline-gray-600',
    },
    'blue': {
        'background': 'bg-blue-200',
        'text'      : 'text-blue-800',
        'textHover' : 'hover:text-blue-800',
        'outline'   : 'outline-blue-700/50',
        'outlineHover': 'hover:outline-blue-600',
    },
    'cyan': {
        'background': 'bg-cyan-200',
        'text'      : 'text-cyan-800',
        'textHover' : 'hover:text-cyan-800',
        'outline'   : 'outline-cyan-700/50',
        'outlineHover': 'hover:outline-cyan-600',
    },
    'pink': {
        'background': 'bg-pink-300',
        'text'      : 'text-pink-800',
        'textHover' : 'hover:text-pink-800',
        'outline'   : 'outline-pink-800/50',
        'outlineHover': 'hover:outline-pink-600',
    },
    'green': {
        'background': 'bg-green-200',
        'text'      : 'text-green-800',
        'textHover' : 'hover:text-green-800',
        'outline'   : 'outline-green-700/50',
        'outlineHover': 'hover:outline-green-600',
    },
    'teal': {
        'background': 'bg-teal-200',
        'text'      : 'text-teal-800',
        'textHover' : 'hover:text-teal-800',
        'outline'   : 'outline-teal-700/50',
        'outlineHover': 'hover:outline-teal-600',
    },
    'yellow': {
        'background': 'bg-yellow-200',
        'text'      : 'text-yellow-800',
        'textHover' : 'hover:text-yellow-800',
        'outline'   : 'outline-yellow-700/50',
        'outlineHover': 'hover:outline-yellow-600',
    },
    'orange': {
        'background': 'bg-orange-200',
        'text'      : 'text-orange-800',
        'textHover' : 'hover:text-orange-800',
        'outline'   : 'outline-orange-700/50',
        'outlineHover': 'hover:outline-orange-600',
    },
    'purple': {
        'background': 'bg-purple-200',
        'text'      : 'text-purple-800',
        'textHover' : 'hover:text-purple-800',
        'outline'   : 'outline-purple-700/50',
        'outlineHover': 'hover:outline-purple-600',
    },
    'red': {
        'background': 'bg-red-200',
        'text'      : 'text-red-800',
        'textHover' : 'hover:text-red-800',
        'outline'   : 'outline-red-700/50',
        'outlineHover': 'hover:outline-red-600',
    },
} %}

{% set color = attribute(colors, (item.color ?? layer.getColor)|default('gray')) %}
{% set duration = item.allDay ? 30 : structure.timeDifference(item.timeStart, item.timeEnd) %}

<div class="{{ not item.allDay ? 'ttItem' }} flex flex-col w-full rounded outline outline-1 hover:ring overflow-hidden {{ color.background }} {{ color.outline }} {{ color.outlineHover }} {{ item.style == 'stripe' ? 'bg-stripe-overlay' }} " style="height: {{ structure.minutesToPixels(duration) -1 }}px; " >

    {% if duration >= 40 %}
    <div class="flex items-start justify-between  border-gray-500 py-1 px-1.5">
        <span class="text-xxs text-gray-700 ">{{ item.type }}</span>
        <span class="inline md:hidden lg:inline text-xxs text-gray-700 ">{{ item.timeStart|slice(0,5)|trim('0', 'left') }} - {{ item.timeEnd|slice(0,5)|trim('0', 'left') }}</span>
    </div>
    {% endif %}

    {% if duration >= 15 %}
    <div class="flex flex-col items-center h-full px-2 {{ duration >= 40 ? 'justify-start' : 'justify-center' }}">
        <a href="{{ item.link }}" class="inline-block {{ duration > 30 and item.title|length <= 12 ? 'text-sm' : 'text-xxs' }} {{ color.text }} font-bold">
            {{ formatUsing('truncate', item.title, 22) }}
        </a>
        {% if duration >= 40 %}
        <span class="inline-block text-xxs text-gray-700">
            {{ formatUsing('truncate', item.subtitle, 40) }}
        </span>
        {% endif %}
    </div>
    {% endif %}

    {% set iconSize = duration >= 50 ? 'size-6' : duration >= 30 ? 'size-5' : 'size-3' %}

    {% if item.primaryAction and duration >= 20 %}
        {% set action = item.primaryAction %}
        
        <a href="{{ action.url }}" class="absolute bottom-0 right-0 mr-1 cursor-pointer pointer-events-auto" title="{{ action.label }}">
            {{  icon(action.iconLibrary ?? 'solid', action.icon, iconSize ~ ' text-gray-600 hover:text-gray-800') }}
        </a>
    {% endif %}

    {% if item.secondaryAction and duration >= 20 %}
        {% set action = item.secondaryAction %}

        <a href="{{ action.url }}" class="absolute bottom-0 left-0 ml-1 cursor-pointer pointer-events-auto" title="{{ action.label }}">
            {{  icon(action.iconLibrary ?? 'solid', action.icon, iconSize ~ ' text-gray-600 hover:text-gray-800') }}
        </a>
    {% endif %}
</div>
