{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% set color = structure.getColors(item.color ?? layer.getColor) %}
{% set duration = item.allDay ? 30 : structure.timeDifference(item.timeStart, item.timeEnd) %}

<div x-data="{showOverlap: false}" class="{{ not item.allDay and not overlap ? 'ttItem' }} flex flex-col w-full rounded outline outline-1 hover:ring {{ color.background }} {{ color.outline }} {{ color.outlineHover }} {{ item.style == 'stripe' ? 'bg-stripe-overlay' }} " style="height: {{ structure.minutesToPixels(duration) -1 }}px; " :class="{'hidden': !{{ layer.getID }} }">

    {% if duration >= 40 %}
    <div class="flex items-start justify-between  border-gray-500 py-1 px-1.5">
        <span class="text-xxs text-gray-700 ">{{ item.type }}</span>
        {% if item.overlap is empty %}
        <span class="inline md:hidden lg:inline text-xxs text-gray-700 ">{{ item.timeStart|slice(0,5)|trim('0', 'left') }} - {{ item.timeEnd|slice(0,5)|trim('0', 'left') }}</span>
        {% endif %}
    </div>
    {% endif %}

    {% if duration >= 15 %}
    <div class="flex flex-col items-center h-full px-2 {{ duration >= 40 ? 'justify-start' : 'justify-center' }}">
        <a href="{{ item.link }}" class="inline-block {{ duration > 30 and item.title|length <= 12 ? 'text-sm' : 'text-xxs' }} {{ color.text }} {{ color.textHover }} hover:underline font-bold">
            {{ formatUsing('truncate', item.title, 22) }}
        </a>
        {% if duration >= 40 %}
        <span class="inline-block text-xxs rounded {{ item.specialStatus == 'roomchange' ? 'border border-red-700 text-red-700 px-1' : 'text-gray-700' }}">
            {{ formatUsing('truncate', item.subtitle, 40) }}
        </span>
        {% endif %}
    </div>
    {% endif %}

    
    {% if item.overlap and item.overlap|length > 0 %}
    <button  class="block tag error absolute top-0 right-0 mt-1 mr-1 p-1 text-xxs leading-none" :class="{'bg-red-500' : showOverlap, '' : !showOverlap }">
        <span class="" @click="showOverlap = true">
        +{{ item.overlap|length }}
        </span>
    </button>

    <div x-show="showOverlap" @click.outside="showOverlap = false" class="absolute p-2 -ml-2 mt-8 z-20 flex flex-col gap-2 items-start justify-end rounded outline outline-1 outline-gray-400 bg-white shadow-lg" style="width: calc(100% + 1rem)">
        {% for overlap in item.overlap %}

            <div class="relative w-full">
                {{ include('ui/timetableItem.twig.html', {item: overlap, overlap: true}) }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% set iconSize = duration >= 50 ? 'size-6' : duration >= 30 ? 'size-5' : 'size-3' %}

    {% if item.primaryAction and duration >= 20 %}
        {% set action = item.primaryAction %}
        {% set iconClass = action.iconClass ? action.iconClass : 'text-gray-600 hover:text-gray-800' %}
        
        <a href="{{ action.url }}" class="absolute bottom-0 right-0 mr-1 cursor-pointer pointer-events-auto" title="{{ action.label }}">
            {{  icon(action.iconLibrary ?? 'solid', action.icon, iconSize ~ ' ' ~ iconClass) }}
        </a>
    {% endif %}

    {% if item.secondaryAction and duration >= 20 %}
        {% set action = item.secondaryAction %}
        {% set iconClass = action.iconClass ? action.iconClass : 'text-gray-600 hover:text-gray-800' %}

        <a href="{{ action.url }}" class="absolute bottom-0 left-0 ml-1 cursor-pointer pointer-events-auto" title="{{ action.label }}">
            {{  icon(action.iconLibrary ?? 'solid', action.icon, iconSize ~ ' ' ~ iconClass) }}
        </a>
    {% endif %}
</div>
