/*
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

----

Add any extra code here to make right to left languages (such as Arabic) work.
*/
@font-face {
    font-family: Droid Arabic Kufi;
    src: local("DroidKufi-Regular"),
    url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}
body {
    font-family: "Droid Arabic Kufi", Arial, sans-serif!important;
}


#header-finder {
    float: left;
    right: auto;
    left: 24px;
}

#content {
    float: right;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    text-align: right;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: right;
}

div.minorLinks {
    text-align: left;
    padding-left: 13px;
}

div.trail {
    text-align: right;
}

div.trailEnd {
    padding-right: 3px;
    float: right;
}

div.trailHead {
    float: right;
    white-space: nowrap;
}

#nav {
    float: right;
}

#nav li {
    position: relative;
    float: right;
}

#nav li li {
    text-align: right;
}

ul.moduleMenu ul li {
    text-align: right;
}

p {
    margin: 0px 0px 15px 0px;
    text-align: right;
}
ol,
ul {
    margin: 0 0 1px;
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 10px 0;
    text-align: right;
}

li {
    padding-right: 5px;
    text-align: right;
}

table th,
table td {
    text-align: right;
}

table tr:first-child th:first-child {
    text-align: right;
    padding-left: 15px;
}
table td:first-child {
    text-align: right;
}

input[type="file"] {
    text-align: right;
}

select {
    float: left;
}

input.standardWidth,
textarea.standardWidth,
.input-box.standardWidth {
    float: left;
}

li.token-input-input-token-facebook {
    float: right;
}

div.error {
    font-size: default;
}

div.warning {
    text-align: right;
}

div.success {
    text-align: right;
}

div.notificationTray {
    float: left;
}

td.right {
    text-align: right !important;
}

#sidebar h2, div.sidebarExtra h2 {
    font-size: 10pt;
}

.ui-widget {
    font-family: "Droid Arabic Kufi", Arial, sans-serif;
}

.ui-dialog .ui-dialog-content {
    font-family: "Droid Arabic Kufi", Arial, sans-serif;
    font-size: 12px ;
}

div.ui-dialog div.ui-dialog-titlebar {
    font-family: "Droid Arabic Kufi", Arial, sans-serif;
}

input[type="submit"] {
    font-family: "Droid Arabic Kufi", Arial, sans-serif;
}

input[type="submit"].buttonLink {
    font-size: 11px;
}
input[type="submit"].buttonLink:hover, input[type="button"].buttonLink:hover {
    font-size: 11px;
}
input[type="button"] {
    font-family: "Droid Arabic Kufi", Arial, sans-serif;
}
input[type="text"], input[type="password"], input[type="file"] {
    font-family: "Droid Arabic Kufi", Arial, sans-serif;
}
select {
    float:left;
    font-size: 12px ;
    font-family: "Droid Arabic Kufi", Arial, sans-serif;
}

div.message {
    border-right: 6px solid #3B73AF;
    border-left: none;
}

div.error {
    border-right: 6px solid #CC0000;
    border-left: none;
}

div.warning {
    border-right: 6px solid #D65602;
    border-left: none;
}

div.success {
    border-right: 6px solid #390;
    border-left: none;
}

div.exception {
    border-right: 6px solid #444;
    border-left: none;
}

div.ui-dialog button.ui-button {
    font-family: "Droid Arabic Kufi", Arial, sans-serif !important;
}

#TB_window {
    font: 10px "Droid Arabic Kufi", Helvetica, sans-serif;
        font-family: "Droid Arabic Kufi", Helvetica, sans-serif;
}

table.smallIntBorder td:last-child {
    text-align: right;
}

/*
table.mini th {
    font-size: 10px ;
}
*/