{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Fast Finder
-->#}

<style>
    #fastFinder .token-input-list-facebook {
        background-color: rgba(255,255,255,0.2) !important;
        border: 1px transparent !important;
        border-radius: .25rem 0 0 .25rem !important;
        height: 34px !important;
        position: absolute;
        top: -17px;
    }

    #fastFinder #token-input-fastFinderSearch {
        color: #ffffff !important;
    }

    #fastFinder .token-input-list-facebook:focus-within {
        border: 1px solid rgba(255,255,255,0.5) !important;
        border-radius: .25rem 0 0 0 !important;
    }

    #fastFinder .token-input-token-facebook {
        margin: 0.25rem !important;
    }

    #fastFinderSearch {
        background-color: rgba(255,255,255,0.2) !important;
        border: 1px transparent !important;
    }

    #fastFinder input[type="submit"] {
        background-color: rgba(255,255,255,0.2) !important;
        border: 1px transparent !important;
        border-radius: 0 .25rem .25rem 0 !important;
        margin-left: 1px !important;
    }

    .token-input-dropdown-facebook li {
        padding: 0.4rem 0.75rem !important;
    }
</style>

<button data-toggle="#fastFinder" class="flex sm:hidden items-center rounded bg-gray-300 mr-2 px-4 py-3 text-base">
    <span class="hidden sm:inline text-gray-600 text-xs font-bold uppercase pr-2">{{ __('Fast Finder') }}</span>
    <img src="{{ absoluteURL }}/themes/{{ gibbonThemeName }}/img/search.png" width="20" height="20">
</button>

<div id="fastFinder" class="hidden sm:block absolute sm:static left-0 z-50 w-full sm:max-w-md -mt-16 sm:mt-0 pb-10 sm:pb-0">

    <div class="absolute top-0 block sm:hidden w-full h-24 shadow" style="background:#794d95">
        <a data-toggle="#fastFinder" class="p-2 pr-4 float-right text-xs link-white underline sm:hidden" href="#">{{ __('close') }}</a>
    </div>

    <div class="w-full px-4 sm:px-2 mt-8 sm:mt-0">
    {{ form|raw }}
    </div>

</div>
