{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Page Foot: Outputs at the bottom, right before the closing </body> tag.
Useful for scripts that need to execute after the page has loaded.
-->#}

{% for code in page.extraFoot %}
    {{ code|raw }}
{% endfor %}

{% for asset in page.scriptsFoot %}
    {% set assetVersion = asset.version is not empty ? asset.version : version %}
    {% if asset.type == 'inline' %}
        <script type="text/javascript">{{ asset.src|raw }}</script>
    {% else %}
        <script type="text/javascript" src="{{ absoluteURL }}/{{ asset.src }}?v={{ assetVersion }}.{{ cacheString }}"></script>
    {% endif %}
{% endfor %}

<div id="modal" x-show="modalOpen" x-trap.inert.noscroll.noreturn="modalOpen" @keydown.escape.window="modalOpen = false" class="fixed inset-0 z-50 overflow-y-auto" style="display:none;" aria-labelledby="modal-title" role="dialog" aria-modal="true" >

    <div class="flex items-center content-center justify-center min-h-screen px-4 text-center sm:block sm:p-0 overflow-hidden">

        <div x-cloak @click="modalOpen = false" x-show="modalOpen" 
            x-transition:enter="transition ease-out duration-300 transform"
            x-transition:enter-start="opacity-0" 
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100" 
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 transition bg-black bg-opacity-40 backdrop-blur-sm " 
            aria-hidden="true"
        ></div>

        <div x-cloak x-show="modalOpen" 
            x-transition:enter="transition ease-out duration-300 transform"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" 
            x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" 
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            class="relative inline-block w-full overflow-y-auto p-6 my-20 overflow-x-hidden text-left transition-all transform bg-white rounded-lg shadow-xl "
            :class="modalType == 'delete' ? 'max-w-2xl' : 'max-w-6xl'"
            style="min-height: 20vh; max-height: 80vh"
        >
            <div class="flex w-full -mt-4 ml-4 justify-end">
                <button @click="modalOpen = false" class="bg-white text-gray-600 focus:outline-none hover:text-gray-700">
                    {{ icon('basic', 'x-mark', 'size-6') }}
                </button>
            </div>

            <div id="modalContent">
            
            </div>
        </div>
    </div>
</div>
