{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Page Foot: Outputs the contents of the HTML <head> tag. This includes
all stylesheets and scripts with a 'head' context.
-->#}

{% block meta %}
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="{{ locale }}"/>
    <meta name="author" content="Ross Parker, International College Hong Kong"/>
    <meta name="robots" content="noindex"/>
    <meta name="Referrer‐Policy" value="no‐referrer | same‐origin"/>
    <meta name="htmx-config" content='{"htmx.config.scrollBehavior":"smooth", "htmx.config.scrollIntoViewOnBoost": true}'>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
{% endblock meta %}

<!-- <script src="https://cdn.tailwindcss.com"></script>
<script>
tailwind.config = {
  content: [
    "../../*.php",
    "../../src/**/*.php",
    "../../modules/**/*.{php,.twig.html}",
    "../../resources/**/*.twig.html",
    "../../themes/**/*.twig.html",
  ],
  corePlugins: {
    preflight: false,
  },
  theme: {
    screens: {
        'sm': '640px',
        'md': '768px',
        'lg': '1024px',
        'xl': '1440px',
    },
    extend: {
      colors: {
        gray: {
          50: "hsl(220, 24%, 99%)",
          100: "hsl(220, 24%, 98%)",
          150: "hsl(210, 24%, 97%)",
          200: "hsl(220, 24%, 95%)",
          300: "hsl(220, 18%, 92%)",
          400: "hsl(220, 14%, 84%)",
          500: "hsl(220, 10%, 69%)",
          600: "hsl(220, 8%, 52%)",
          700: "hsl(220, 8%, 38%)",
          800: "hsl(220, 8%, 23%)",
          900: "hsl(220, 8%, 16%)",
          950: "hsl(220, 8%, 10%)",
        },

        purple: {
          50: "rgb(245, 243, 255)",
          100: "rgb(237, 233, 254)",
          200: "rgb(221, 214, 254)",
          300: "rgb(196, 181, 253)",
          400: "rgb(167, 139, 250)",
          500: "rgb(139, 92, 246)",
          600: "rgb(125, 62, 234)",
          700: "rgb(109, 48, 207)",
          800: "rgb(93, 45, 170)",
          900: "rgb(79, 37, 141)",
          950: "rgb(48, 25, 93)",
        },

        red: {
          100: "rgb(255, 245, 245)",
          200: "rgb(254, 215, 215)",
          300: "rgb(254, 178, 178)",
          400: "rgb(252, 129, 129)",
          500: "rgb(245, 101, 101)",
          600: "rgb(229, 62, 62)",
          700: "rgb(197, 48, 48)",
          800: "rgb(155, 44, 44)",
          900: "rgb(116, 42, 42)",
        },
      },
    },
  },
};
</script> -->

{% block styles %}
    {% for asset in page.stylesheets %}
        {% set assetVersion = asset.version is not empty ? asset.version : version %}
        {% if asset.type == 'inline' %}
            <style type="text/css">{{ asset.src|raw }}</style>
        {% else %}
            <link rel="stylesheet" href="{{ absoluteURL }}/{{ asset.src }}?v={{ assetVersion }}.{{ cacheString }}" type="text/css" media="{{ asset.media }}" />
        {% endif %}
    {% endfor %}
{% endblock styles %}

{% block scripts %}

    {% for asset in page.scriptsHead %}
        {% set assetVersion = asset.version is not empty ? asset.version : version %}
        {% if asset.type == 'inline' %}
            <script type="text/javascript">{{ asset.src|raw }}</script>
        {% else %}
            <script type="text/javascript" src="{{ absoluteURL }}/{{ asset.src }}?v={{ assetVersion }}.{{ cacheString }}" {{ asset.type == 'defer' ? 'defer' }}></script>
        {% endif %}
    {% endfor %}

    {% for code in page.extraHead %}
        {{ code|raw }}
    {% endfor %}

{% endblock scripts %}
