{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

TODO: add template variable details.
-->#}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ rightToLeft ? 'rtl' : 'ltr' }}">
    <head>
        {% block head %}
        {{ include('head.twig.html') }}
        {% endblock head %}
    </head>
    <body class="h-full flex flex-col font-sans {{ bodyBackground  ? '' : 'body-gradient-' ~ themeColour|lower }}" style="{{ bodyBackground  ? bodyBackground : '' }} {{ themeColour is empty ? 'background: radial-gradient(80% 1000px at 20% 500px, #ef99c7 0%, #794d95 100%) no-repeat fixed ;' : '' }}">
        <a id="top"></a>
        {% set sidebarPos = isLoggedIn ? 'left' : 'right' %}

        <div class="px-4 sm:px-6 lg:px-12 pb-24">

            {% block header %}
                <div id="header" class="relative flex justify-between items-center">

                    <a id="header-logo" class="block my-4 max-w-xs sm:max-w-full leading-none" href="{{ absoluteURL }}">
                        <img class="block max-w-full {{ isLoggedIn ? 'h-12' : 'h-20 mt-4 mb-4' }}" alt="{{ organisationName }} Logo" src="{{ absoluteURL }}/{{ organisationLogo|default("themes/Default/img/logo.png")|trim('/', 'left') }}" style="max-height:100px;" />
                    </a>

                    <div class="flex-grow flex items-center justify-end text-right text-sm text-{{ themeColour }}-200">
                        {% if isLoggedIn and currentUser %}

                        <a href="{{ currentUser.url ?? './index.php?q=/preferences.php' }}" class="hidden sm:block text-{{ themeColour }}-200 hover:text-white">
                            {{ currentUser.name }}
                        </a>

                        <div class="group relative px-4 py-4 {{ rightToLeft ? '-ml-3' : '-mr-3' }}">

                            <a href="{{ currentUser.url ?? '#' }}" class="{{ currentUser.image_240 ? 'flex-none' : 'flex items-center justify-center' }} block overflow-hidden w-10 h-10 rounded-full bg-gray-200 border-2 border-{{ themeColour }}-600 cursor-pointer">
                            {% if currentUser.image_240 %}
                                <img class="w-full -mt-1" src="{{ absoluteURL }}/{{ currentUser.image_240 }}" />
                            {% else %}
                                <img class="w-full" src="{{ absoluteURL }}/themes/{{ gibbonThemeName }}/img/anonymous_75.jpg" />
                            {% endif %}
                            </a>

                            <ul class="list-none m-0 bg-gray-800 hidden group-hover:block absolute w-48 mt-1 p-1 z-50 cursor-pointer {{ rightToLeft ? 'left-0' : 'right-0' }}">
                                {% for link in minorLinks|reverse %}
                                <li class="hover:bg-{{ themeColour }}-700">
                                    <a href="{{ link.url }}" class="block text-sm text-white focus:text-{{ themeColour }}-200 no-underline px-1 py-2 md:py-1 leading-normal {{ rightToLeft ? 'text-right' : 'text-left' }}" target="{{ link.target }}" {{ link.target == '_blank' ? 'rel="noopener noreferrer"' : '' }}>
                                        {{- link.name|raw -}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                        {% else %}
                            {% for link in minorLinks %}
                                {{ link.prepend }}&nbsp;
                                <a href="{{ link.url }}" class="link-white {{ loop.count > 3 ? 'hidden sm:block' }}" target="{{ link.target }}" {{ link.target == '_blank' ? 'rel="noopener noreferrer"' : '' }}>
                                    {{- link.name|raw -}}
                                </a>
                                {{ link.append }}
                            {% endfor %}
                        {% endif %}

                        {% if currentUser.houseName and currentUser.houseLogo %}
                            <img class="ml-3 -mt-2 w-12 h-12" title="{{ currentUser.houseName }}" style="vertical-align: -75%;" src="{{ absoluteURL }}/{{ currentUser.houseLogo }}"/>
                        {% endif %}
                    </div>
                </div>

                {% if isLoggedIn %}
                <nav id="header-menu" class="flex-1 justify-between">
                    {{ include('menu.twig.html') }}
                </nav>
                {% endif %}

            {% endblock %}
        </div>
        <div id="wrapOuter" class="flex-1 pt-24 bg-transparent-100">
            <div id="wrap" class="px-0 sm:px-6 lg:px-12 -mt-48">
                {% block beforePage %}
                {% endblock beforePage %}

                <div id="content-wrap" class="relative w-full min-h-1/2 flex content-start {{ sidebar ? 'flex-wrap lg:flex-no-wrap' : 'flex-col' }} {{ sidebarPos == 'left' ? 'lg:flex-row' : 'lg:flex-row-reverse' }} clearfix">

                    <div class="block lg:hidden w-full shadow bg-white rounded px-4 mx-4 sm:mx-0 mb-4">
                        {% for type, alerts in page.alerts %}
                            {% for text in alerts %}
                                <div class="{{ type }}">{{ text|raw }}</div>
                            {% endfor %}
                        {% endfor %}
                        </div>

                    {% if sidebar and (sidebarContents or menuModule) %}
                        <div id="sidebar" class="w-full lg:w-sidebar lg:max-w-xs {{ sidebarPos == 'left' and not rightToLeft ? 'lg:mr-6' : 'lg:ml-6' }}">
                            {% block sidebar %}
                            {{ include('navigation.twig.html') }}
                            {% endblock sidebar %}
                        </div>

                        <br style="clear: both">
                    {% else %}
                        {{ include('navigation.twig.html') }}
                    {% endif %}

                    <div id="content" class="{{ contentClass ? contentClass : 'max-w-full' }} w-full shadow bg-white sm:rounded lg:flex-1 px-8 {{ page.breadcrumbs ? 'py-6' : 'pb-6' }} ">

                        {% block page %}

                            {{ include('page.twig.html') }}

                            {{ content|join("\n")|raw }}
                            
                        {% endblock %}
                    </div>

                </div>

                {% if isLoggedIn %}
                    <div class="text-right mt-2 text-xs pr-1">
                        <a class='text-{{ themeColour }}-800' href='#top'>{{ __('Return to top') }}</a>
                    </div>
                {% endif %}

                {% block afterPage %}
                {% endblock afterPage %}
            </div>

            

            {% block footer %}
                <div class="relative text-sm text-gray-700 px-6 lg:px-12 mt-4 pt-2 pb-6 leading-normal border-t border-gray-300 {{ rightToLeft ? 'text-right' : 'text-left' }}">
                    {{ include('footer.twig.html') }}

                    <img class="absolute top-0 -mt-1 hidden sm:block w-32 {{ rightToLeft ? 'left-0 sm:ml-0 md:ml-16' : 'right-0 sm:mr-0 md:mr-16' }}" alt="Logo Small" src="{{ absoluteURL }}/themes/{{ gibbonThemeName|default("Default") }}/img/gibbon-white.svg"/>
                </div>
            {% endblock %}

        </div>

        {% block privacy %}
        {{ include('privacy.twig.html') }}
        {% endblock privacy %}

        {% block foot %}
        {{ include('foot.twig.html') }}
        {% endblock foot %}
    </body>
</html>
