{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Main Menu: Displays the top-level categories and active modules.
-->#}

<hr class="opacity-25 border-{{ themeColour }}-300 border-b-0 mx-0 -my-px">
<ul class="list-none flex flex-wrap items-center my-3 -mx-4">
    <li class="mx-0 px-0">
        <a class="block uppercase font-bold text-sm text-gray-100 hover:text-gray-800 no-underline ml-1 px-4 py-3" href="{{ absoluteURL }}/index.php">{{ __('Home') }}</a>
    </li>

    {% if isLoggedIn %}
        {% for categoryName, items in menuMain %}
        <li class="sm:relative group mx-0 px-0 ">
            <a class="block uppercase font-bold text-sm text-gray-100 hover:text-gray-800 no-underline px-4 py-3" href="#">{{ __(categoryName) }}</a>

            <ul class="list-none bg-gray-800 absolute hidden group-hover:block w-full sm:w-48 left-0 m-0 py-1 sm:p-1 z-50 {{ rightToLeft ? 'right-0' : 'left-0' }}">
                {% for item in items %}
                <li class="hover:bg-{{ themeColour }}-700">
                    <a class="block text-sm text-white focus:text-{{ themeColour }}-200 no-underline px-1 py-2 md:py-1 leading-normal {{ rightToLeft ? 'text-right' : 'text-left' }}" href="{{ item.url }}">
                        {{ __(item.name, item.textDomain) }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    {% endif %}

    <li class=" notificationTray flex-grow">
        <div class="flex flex-row-reverse items-center">

            <div id="finderTray" class="mr-2 w-auto sm:w-full max-w-sm" style="min-width: 240px;">
                {{ fastFinder|raw }}
            </div>

            {{ include('tray.twig.html') }}
        </div>
    </li>
</ul>


