{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Module Menu: Displays a list of module actions available for the 
current user. Outputs the sidebar in 'full' view-mode and as a 
collapsed drop-down list in 'mini' view-mode.
-->#}

{% set sidebarClass = 'shadow bg-white rounded px-8 mb-6' %}

<div class="mx-4 sm:mx-0 relative sm:static">

    {% if menuModule %}
    <button data-toggle="#navigation" class="relative w-full flex rounded justify-center items-center sm:w-48 bg-white sm:border border-grey-600 border-solid p-2 mb-4 sm:mt-4 sm:absolute sm:top-0 sm:right-0 sm:mr-6 z-40 {{ sidebar ? 'lg:hidden' }}">
        <span class="text-gray-600 text-sm sm:text-xs font-bold uppercase ">{{ __('Module Menu') }}</span>
        <svg class="fill-current h-4 w-4 sm:h-3 sm:w-3 text-gray-600 ml-2" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>{{ __('Module Menu') }}</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
    {% endif %}

    {% if sidebar and sidebarPosition != 'bottom' %}
        {% for code in page.extraSidebar  %}
            {% if code is not empty %}
            <div class="{{ sidebarClass }} md:column-2 lg:column-1 pb-6 pt-2 lg:pb-8">
                {{ code|raw }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if sidebar and sidebarContents is iterable %}
        {% for sidebarContent in sidebarContents %}
            {% if sidebarContent %}
            <div class="{{ sidebarClass }} md:column-2 lg:column-1 {{ page.breadcrumbs ? 'pt-10 lg:pt-0' }} pb-6 lg:pb-8">
                {{ sidebarContent|raw }}
            </div>
            {% endif %}
        {% endfor %}
    {% elseif sidebar and sidebarContents %}
        <div class="{{ sidebarClass }} md:column-2 lg:column-1 {{ page.breadcrumbs ? 'pt-10 lg:pt-0' }} pb-6 lg:pb-8">
            {{ sidebarContents|raw }}
        </div>
    {% endif %}
    
    {% if menuModule %}
    <nav id="navigation" class="{{ sidebarClass }} w-full font-sans hidden absolute top-0 z-30 sm:mt-16 pt-6 pt-12 sm:pt-6
        {{ sidebar ? 'lg:block lg:static lg:p-0 lg:py-6 lg:mx-0 lg:mt-0' : '' }}">

        <ul class="w-full  list-none column-1 sm:column-2 md:column-3 m-0 px-0  
            {{ sidebar ? 'lg:bg-transparent lg:border-0 lg:column-1 lg:shadow-none lg:px-8' : '' }}">

            {% for categoryName, items in menuModule %}
                <li class="w-full column-no-break p-0">
                    <h5 class="m-0 mb-1 text-sm px-1 pt-2 pb-1 text-{{ themeColour }}-600 border-b-0">
                        {{ __(categoryName, (items|first).textDomain) }}
                    </h5>

                    <ul class="list-none m-0 mb-6">
                    {% for item in items %}
                        <li class="p-0 text-sm leading-normal lg:leading-normal">
                            <a href="{{ item.url }}" class="block -mx-2 px-3 py-1 -my-1 text-gray-700 hover:underline {{ item.active ? 'text-gray-800 bg-transparent-300 font-semibold rounded-sm' : '' }}">
                                {{ __(item.name, item.textDomain) }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    
    {% if sidebar and sidebarPosition == 'bottom' %}
        {% for code in page.extraSidebar %}
        <div class="{{ sidebarClass }} md:column-2 lg:column-1 pb-6 lg:pb-8">
            {{ code|raw }}
        </div>
        {% endfor %}
    {% endif %}
</div>

