{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Page Foot: Outputs the contents of the HTML <head> tag. This includes
all stylesheets and scripts with a 'head' context.
-->#}

<div class="w-full flex flex-between mb-4">
    {% if page.breadcrumbs %}
    <nav aria-label="breadcrumb" class="flex-1 pt-6">
        <ol class="mb-0 mx-0 text-xs text-blue-700">
            {% for title, src in page.breadcrumbs %}
                {% if loop.last %}
                    <li aria-current="page" class="list-none inline ml-0 trailEnd">{{ title }}</li>
                {% elseif loop.revindex > 5 and loop.index != 1 %}
                    <li class="list-none inline ml-0 ">
                        <a hx-boost="true" hx-target="#content-wrap" hx-select="#content-wrap" hx-swap="outerHTML show:no-scroll swap:0s" class="text-blue-700 underline" href="{{ src }}">...

                        </a> > 
                    </li>
                {% else %}
                    <li class="list-none inline ml-0 ">
                        <a hx-boost="true" hx-target="#content-wrap" hx-select="#content-wrap" hx-swap="outerHTML show:no-scroll swap:0s" class="text-blue-700 underline" href="{{ src }}">
                            {{ title }}
                        </a> > 
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% endif %}


    {% if page.helpLink and isLoggedIn %}
    <a class="mt-6 text-gray-500 hover:text-blue-600" href="https://docs.gibbonedu.org/{{ page.helpLink }}" title="{{ __('Help') }}" target="_blank">
        {{ icon('outline', 'help', 'size-6', {'stroke-width': 1.5 } ) }}
    </a>
    {% endif %}
</div>

<div id="alerts" class="hidden lg:block">
    {% for type, alerts in page.alerts %}
        {% for text in alerts %}
            <div class="{{ type }}">{{ text|raw }}</div>
        {% endfor %}
    {% endfor %}
</div>

{% if page.navigator %}
<div class="w-full flex justify-end align-center mb-4">

    {% if page.navigator.schoolYears %}
    
    {% set buttonStyle = 'border -ml-px font-bold leading-loose text-xxs' %}
    {% set schoolYears = page.navigator.schoolYears %}

    <div class="flex-1">
        <h2 class="m-0 p-0 pt-1">
            {{ schoolYears.current.name }}
        </h2>
    </div>
    
    <div class="flex">

        <div class="linkTop mt-0 h-10 py-px">
            {% for action in table.getHeader %}
                {{ action.getOutput|raw }}
            {% endfor %}
        </div>

        <button hx-push-url="true" hx-target="#content-inner" hx-select="#content-inner" hx-swap="outerHTML show:no-scroll" hx-get="{{ absoluteURL }}/index.php?q={{ address }}&gibbonSchoolYearID={{ schoolYears.previous.gibbonSchoolYearID }}&{{ schoolYears.params|url_encode }}" type="button" class="rounded-l px-2 py-1 text-gray-600 bg-gray-100 border-gray-400 {{ schoolYears.previous is not empty ? 'hover:bg-gray-400'}} {{ buttonStyle }}" {{ schoolYears.previous is empty ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Prev') }}
            </span>
            {{ icon('basic', 'chevron-left', 'block size-5' ) }}
        </button>

        <select hx-get="{{ absoluteURL }}/index.php?q={{ address }}" hx-push-url="true" hx-target="#content-inner" hx-select="#content-inner" hx-swap="outerHTML show:no-scroll" name="gibbonSchoolYearID" class="bg-gray-100 text-gray-600 border-gray-400 border-r-0 pl-3 pr-6 py-2 {{ buttonStyle }}">
        {%- for value, name in schoolYears.years -%}
            <option value="{{ value }}" {{ schoolYears.current.gibbonSchoolYearID == value ? 'selected' : ''}}>{{ name }}</option>
        {%- endfor -%}
        </select>

        <button hx-push-url="true" hx-target="#content-inner" hx-select="#content-inner" hx-swap="outerHTML show:no-scroll" hx-get="{{ absoluteURL }}/index.php?q={{ address }}&gibbonSchoolYearID={{ schoolYears.next.gibbonSchoolYearID }}&{{ schoolYears.params|url_encode }}" type="button" class="rounded-r px-2 py-1 text-gray-600 bg-gray-100 border-gray-400 {{ schoolYears.next is not empty ? 'hover:bg-gray-400'}} {{ buttonStyle }}" {{ schoolYears.next is empty ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Next') }}
            </span>
            {{ icon('basic', 'chevron-right', 'block size-5') }}
        </button>
    </div>
    {% endif %}
    

    {% if page.navigator.actions %}

    <div class="linkTop mt-0 flex justify-end gap-2 h-10 py-px">
        {% for action in page.navigator.actions %}
            {{ action.getOutput|raw }}
        {% endfor %}
    </div>

    {% endif %}
</div>
{% endif %}


