<div id="tabs" style="margin: 20px 0">
    <ul>
        <li><a href='#tabs0'>{{ __('Overview') }}</a></li>
        {% if milestonesForm %}
            <li><a href='#tabs1'>{{ __('Milestones') }}</a></li>
        {% endif %}
        <li><a href='#tabs2'>{{ __('Application Form') }}</a></li>
        {% if formsTable %}
            <!-- <li><a href='#tabs3'>{{ __('Other Forms') }}</a></li> -->
        {% endif %}
        {% if uploadsTable %}
            <li><a href='#tabs4'>{{ __('Documents') }}</a></li>
        {% endif %}
        {% if accountForm or familyTable %}
            <li><a href='#tabs5'>{{ __('Family') }}</a></li>
        {% endif %}
        {% if processForm %}
            <li><a href='#tabs6'>{{ __('Process') }}</a></li>
        {% endif %}
        {% if resultsForm %}
            <li><a href='#tabs7'>{{ __('Results') }}</a></li>
        {% endif %}
    </ul>

    <div id='tabs0'>
        {% if officeForm %}
            {{ officeForm.getOutput | raw }}
        {% endif %}
    </div>

    {% if milestonesForm %}
    <div id='tabs1'>
        {{ milestonesForm.getOutput | raw }}
    </div>
    {% endif %}

    <div id='tabs2'>
        {% if editForm %}
            {{ editForm.getOutput | raw }}
        {% endif %}
    </div>

    {% if uploadsTable %}
    <div id='tabs4'>
        {{ uploadsTable.getOutput | raw }}
    </div>
    {% endif %}
    
    {% if accountForm or familyTable %}
    <div id='tabs5'>
        {{ accountForm.getOutput | raw }}
        {{ familyTable.getOutput | raw }}
    </div>
    {% endif %}

    {% if processForm %}
    <div id='tabs6'>
        {{ processForm.getOutput | raw }}
    </div>
    {% endif %}

    {% if resultsForm %}
    <div id='tabs7'>
        {{ resultsForm.getOutput | raw }}
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    $('#tabs').tabs({
        active: {{ defaultTab }},
        ajaxOptions: {
            error: function( xhr, status, index, anchor ) {
                $( anchor.hash ).html("Couldn't load this tab.");
            }
        }
    });

    $('input.milestoneInput').on('change', function(e) {
        var parent = $(this).parentsUntil('.milestoneInput').parent();

        if ($(this).is(':checked')) {
            $(parent).removeClass('bg-red-100 text-red-700');
            $(parent).addClass('bg-green-100 text-green-700');
            $('.milestoneCheck', parent).removeClass('hidden');
            $('.milestoneCross', parent).addClass('hidden');
        } else {
            $(parent).addClass('bg-red-100 text-red-700');
            $(parent).removeClass('bg-green-100 text-green-700');
            $('.milestoneCheck', parent).addClass('hidden');
            $('.milestoneCross', parent).removeClass('hidden');
        }
    });
</script>
