{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

<h2>
    {{ __('Actions') }}: {{ __(role.name) }}
</h2>

{% if actionCount < 1 %}
<div class="warning">
    {{ __('There are no records to display.') }}
</div>
{% else %}
<div class="column-2 mb-8">
{% for moduleName, moduleActions in actions %}
    <div class="column-no-break">
        <h5 class="border-0 mb-1">
            {{ __(moduleName) }}
        </h5>

        <ul>
        {% for action in moduleActions %}
            <li>
                <span title="{{ __(action.description) }}">{{ __(action.name) }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
{% endif %}
