{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

<p>
    <strong>Date:</strong> {{ formatUsing('dayOfWeekName', event.dateStart) }}, {{ formatUsing('dateRangeReadable', event.dateStart, event.dateEnd) }}<br>
    <strong>Time:</strong> {{ event.allDay == 'Y' ? 'All Day' : formatUsing('timeRange', event.timeStart, event.timeEnd) }}<br>
    <strong>Sender:</strong> {{ formatUsing('name', sender.title, sender.preferredName, sender.surname, 'Staff', false, true) }}
</p>

{% if notes is not empty %}
    <p>
        {{ notes|raw }}
    </p>
{% endif %}

<h4>{{ __('Participants') }}</h4>

{% if students is defined and students is not empty %}
    <table border="1" cellpadding="6" cellspacing="0" style="width: 100%; border-collapse:collapse; border: 1px solid #cacaca; ">
        <thead>
            <tr>
                {% if formGroups %}
                    <th style="border: 1px solid #cacaca; width: 80px; font-size:0.75rem;">{{ __('Form Group') }}</th>
                {% endif %}

                <th style="border: 1px solid #cacaca; min-width: 220px; font-size:0.75rem;">{{ __('Name') }}</th>   

                {% if relevant > 0 %}
                    <th style="border: 1px solid #cacaca; min-width: 100px; font-size:0.75rem;">{{ __('Context') }}</th>
                {% endif %}

                {% if affected > 0 %}
                    <th style="border: 1px solid #cacaca; min-width: 100px; font-size:0.75rem;">{{ __('Affected Classes') }}</th>
                {% endif %}

                {% if attendance > 0 %}
                    <th style="border: 1px solid #cacaca; min-width: 100px; font-size:0.75rem;">{{ __('Future Absence') }}</th>
                {% endif %}
            </tr>
        </thead>
        
        <tbody>
            {% for student in students %}
                <tr>
                    {% if formGroups %}
                    <td style="border: 1px solid #cacaca;">
                        {{  student.formGroup }}
                    </td>
                    {% endif %}

                    <td style="border: 1px solid #cacaca;">
                        {{ formatUsing('name', '', student.preferredName, student.surname, 'Student', false) }}
                    </td>

                    {% if relevant > 0 %}
                    <td style="border: 1px solid #cacaca;">
                        {{ student.context }}
                    </td>
                    {% endif %}

                    {% if affected > 0 %}
                    <td style="border: 1px solid #cacaca;">
                        {{ student.affected ? student.affected|join(', ') : '' }}
                    </td>
                    {% endif %}

                    {% if attendance > 0 %}
                    <td style="border: 1px solid #cacaca; text-align: center; font-weight: bold;">
                        {% if student.absence %}
                            <span title="{{ student.absence }}">✓</span>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>{{ __('There are no records to display.') }}</p>
{% endif %}

<br>
<p style="color: #999999; font-size: 13px;">
    <em>
        {% if allStaff == 'Y' %}
            {{ __('This notification has been sent to all staff.') }}
        {% else %}
            {{ __('This notification has been sent to individual recipients.') }}
            {% if contexts %} {{ __('You are receiving this notification as {context}.', {'context': contexts }) }}{% endif %}
        {% endif %}
    </em>
</p>
